@inject IDialogService DialogService
@inject IFeedbackService FeedbackService

<div class="bounce">
    <MudButton
        Variant="Variant.Outlined"
        Color="Color.Info"
        Class="mr-5 mt-1 bounce"
        StartIcon="@Icons.Material.Filled.EmojiEmotions"
        @onclick="OpenDialog"
    >
        Feedback
    </MudButton>
</div>

@code {

    private async Task OpenDialog()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            FullWidth = true
        };
        if (options == null) throw new ArgumentNullException(nameof(options));

        var dialog = await DialogService.ShowAsync<FeedbackCreateDialog>("Feedback", options);
        
        await  dialog.Result;
    }
}
