@keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }

    1% {
        transform: translate(5px, 0px);
    }

    2% {
        transform: translate(-5px, 0px);
    }

    3% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.bounce {
    animation: bounce 10s infinite;
}
