@using Clanwars.TournamentManager.Lib.Helper
@using MudBlazor.Utilities
@inherits LayoutComponentBase
@inject INotificationsService NotificationsService
@inject IJSRuntime JsRuntime
@implements IDisposable

<PageTitle>Clanwars.TournamentManager.BeamerScreen</PageTitle>

<MudThemeProvider Theme="BeamerCustomTheme" IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>
    body {
        background-color: black !important;
        margin: 0;
        overflow: hidden;
        font-family: "Century Gothic", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    a {
        color: cyan;
    }

    .text-secondary {
        color: #a2a2a2 !important;
    }

    .item-background {
        background-color: rgba(0, 0, 0, 0.75);
        border: 1px solid rgb(50, 50, 50);
        overflow: hidden;
    }

    .content-container {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        max-height: 100vh;
        width: 100vw;
        display: block;
        overflow: hidden;
        z-index: 1000;
    }

    .video-container {
        position: fixed;
        top: 0;
        left: -6%;
        min-height: 100vh;
        max-height: 100vh;
        width: 112vw;
        display: block;
        overflow: hidden;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1rem;
        padding: 1rem 2rem;
        margin: 1rem;
    }


    .mat-tab-header {
        display: none !important;
    }

    .mat-tab-group {
        font-family: inherit;
    }

    .text-muted {
        color: #efefef;
    }

    /* reused bootstrap classes*/
    .text-center {
        text-align: center !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .font-weight-light {
        font-weight: 300 !important;
    }

</style>

@Body

@code
{
    MudTheme BeamerCustomTheme = new()
    {
        Typography = new Typography
        {
            Default = new Default
            {
                FontSize = "1.25rem",
                FontWeight = 500,
                LineHeight = 1.6,
                LetterSpacing = ".0075em"
            }
        },
        PaletteDark = new PaletteDark
        {
            TextPrimary = new MudColor(255, 255, 255, 0.95)
        }
    };

    protected override async Task OnInitializedAsync()
    {
        NotificationsService.TmVersionChanged += NotificationsServiceOnTmVersionChanged;
        await base.OnInitializedAsync();
    }

    private async Task NotificationsServiceOnTmVersionChanged(object arg1, Version? arg2)
    {
        if(arg2 > AssemblyExtensions.GetTmVersion())
        {
            await WindowReloadClicked();
        }
    }

    public void Dispose()
    {
        NotificationsService.TmVersionChanged -= NotificationsServiceOnTmVersionChanged;
    }

    private async Task WindowReloadClicked()
    {
        await JsRuntime.InvokeVoidAsync("location.reload");
    }
}
