@inherits LayoutComponentBase

<PageTitle>Clanwars.TournamentManager</PageTitle>

<MudThemeProvider IsDarkMode="true"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>
    body {
        overflow-y: scroll;
    }
</style>

<MudLayout>
    <AuthorizeView>
        <Authorizing>Loading...</Authorizing>
        <Authorized>
            <TournamentMainLayout>@Body</TournamentMainLayout>
        </Authorized>
        <NotAuthorized>@Body</NotAuthorized>
    </AuthorizeView>
</MudLayout>
