﻿@inject ITournamentsService TournamentsService
@inject IEventsService EventsService
@inject INotificationsService NotificationsService
@using System.Reflection
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@using AssemblyExtensions = Clanwars.TournamentManager.Lib.Helper.AssemblyExtensions
@implements IDisposable

<div class="d-flex flex-column flex-grow-1 justify-space-between">
    <MudNavMenu Color="Color.Primary" Bordered="true">
        <MudNavLink Href="dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="tournaments" Icon="@Icons.Material.Filled.EmojiEvents">Tournaments</MudNavLink >
        @foreach (var tournament in _tournaments)
        {
            <MudNavLink Href="@("tournaments/" + tournament.Id)">@tournament.Name</MudNavLink>
        }
        <MudNavLink Href="rooms" Icon="@Icons.Material.Filled.EventSeat">Rooms</MudNavLink>
        <MudNavLink Href="clans" Icon="@Icons.Material.Filled.Groups">Clans</MudNavLink>
        <MudNavLink Href="bar" Icon="@Icons.Material.Filled.Fastfood">Bar</MudNavLink>
        <AuthorizeView Roles="tournament-moderator">
            <MudDivider Class="my-2"></MudDivider>
            <MudNavLink Href="admission" Icon="@Icons.Material.Filled.FactCheck">Admission</MudNavLink>
            <MudNavLink Href="beamer-ctl" Icon="@Icons.Material.Filled.SmartDisplay">Beamer</MudNavLink>
            <MudNavLink Href="feedback" Icon="@Icons.Material.Filled.EmojiEmotions">Feedback</MudNavLink>
            <MudDivider Class="my-2"></MudDivider>
            <MudNavLink Href="admintools" Icon="@Icons.Material.Filled.AdminPanelSettings">Admin Tools</MudNavLink>
        </AuthorizeView>
    </MudNavMenu>
    <div class="flex-grow-1"></div>
    <MudDivider Class="flex-grow-0"/>
    <div class="pa-3 d-flex flex-column">
        <div>
            With ❤️ from <a href="https://hsf-clanwars.de" target="_blank">Clanwars</a><br/>
            TM Version: <a href="https://gitlab.com/clanwars/tournament-manager/-/blob/main/CHANGELOG.md" target="_blank">@_version</a>
        </div>
    </div>
</div>

@code {
    private IList<TournamentResponse> _tournaments = new List<TournamentResponse>();
    EventResponse? _event;

    Version? _version = AssemblyExtensions.GetTmVersion();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        NotificationsService.TournamentsChanged += OnTournamentsChanged;
    }

    private async Task OnTournamentsChanged(object arg1, TournamentHubMessage tournamentHubMessage)
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task LoadData()
    {
        _event = await EventsService.CurrentEventAsync();
        if (_event != null)
        {
            _tournaments = await TournamentsService.GetAllAsync(new SieveModel { Filters = $"EventId=={_event.Id},State!=planning" });
        }
    }

    public void Dispose()
    {
        NotificationsService.TournamentsChanged -= OnTournamentsChanged;
    }

}
