@inject IEventsService EventsService
@inject ICurrentUserService CurrentUserService
@inject IShoutsService ShoutsService
@inject INotificationsService NotificationsService
@inject NavigationManager Navigation
@*TODO CS0618: Class 'Microsoft.AspNetCore.Components.WebAssembly.Authentication.SignOutSessionStateManager' is obsolete: 'Use 'Microsoft.AspNetCore.Components.Webassembly.Authentication.NavigationManagerExtensions.NavigateToLogout' instead.' (0 issues) *@
@inject SignOutSessionStateManager SignOutManager 
@inject ISnackbar Snackbar
@inject IJSRuntime JsRuntime
@using System.Security.Principal
@using Clanwars.TournamentManager.Lib.Helper
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@using Sieve.Models
@implements IDisposable

<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(_ => DrawerToggle())"/>
    <MudText Typo="Typo.h5" Class="ml-3">@(_event?.Name ?? "Tournament Manager")</MudText>
    <MudSpacer/>
    @* <MudBadge Content="559" Color="Color.Warning" Overlap="true" Class="mx-10 mt-2 pointer" aria-label="notifications" OnClick="() => { }"> *@
    @*     <MudIcon Icon="@Icons.Material.Filled.Notifications" Color="Color.Primary"/> *@
    @* </MudBadge> *@
    <FeedbackButton/>
    <MudButton Variant="Variant.Outlined" Color="Color.Warning" Target="_blank" Href="https://firewall.hsf-clanwars.de:4081/login/" Class="mr-10 mt-1" StartIcon="@Icons.Material.Filled.LocalFireDepartment" EndIcon="@Icons.Material.Filled.ArrowRightAlt">Firewall Login</MudButton>
    <MudMenu Class="mt-2">
        <ActivatorContent>
            @if (_currentUser != null)
            {
                <UserAvatar User="_currentUser"></UserAvatar>
            }
            else
            {
                <MudSkeleton Width="40px" Height="40px"></MudSkeleton>
            }
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem Href="users/me">Profile</MudMenuItem>
            <MudMenuItem Href="users/me/payments">Payments</MudMenuItem>
            <MudMenuItem @onclick="BeginSignOut">Sign out</MudMenuItem>
        </ChildContent>
    </MudMenu>
</MudAppBar>
@if (_currentUser == null)
{
    <MudMainContent>
        <div>Loading...</div>
    </MudMainContent>
}
else
{
    @if (_event == null)
    {
        <MudMainContent>
            <MudPaper class="py-10 d-flex flex-column align-center">
                <img src="assets/undraws/undraw_blank_canvas_re_2hwy.svg" alt="Image showing an empty canvas" style="padding-bottom: 20px; width: 20vw;"/>
                <h1>No event is scheduled at the moment.</h1>
                <AuthorizeView Roles="tournament-moderator">
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" Style="width: 200px"/>
                    <h2>As a manager you can manage events and create new ones:</h2>
                    <EventManager></EventManager>
                </AuthorizeView>
            </MudPaper>
        </MudMainContent>
    }
    else if (_currentUser.IsIncompleteProfile)
    {
        <MudMainContent>
            <MudContainer Fixed="false" class="py-10">
                <h1 class="pb-5">Please complete your profile.</h1>
                <UserPropertiesEditor User="_currentUser" OnUserCompletedProfile="user => { _currentUser = user; StateHasChanged(); }"></UserPropertiesEditor>
            </MudContainer>
        </MudMainContent>
    }
    else
    {
        <MudDrawer @bind-Open="@NavbarOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu/>
        </MudDrawer>
        <MudMainContent class="px-4">
            @if (_tmNewVersion != null)
            {
                <MudAlert ShowCloseIcon="true"
                          CloseIcon="@Icons.Material.TwoTone.Refresh"
                          CloseIconClicked="async () => await WindowReloadClicked()"
                          Severity="Severity.Warning" Variant="Variant.Filled"
                          Class="mt-4">
                    Version @_tmNewVersion des Tournament Managers ist jetzt verfügbar. Bitte lade die Website neu um die neuesten Funktionen zu nutzen!
                </MudAlert>
            }
            @ChildContent
        </MudMainContent>
        @* <MudDrawer Open="true" ClipMode="DrawerClipMode.Docked" Elevation="1" Anchor="Anchor.Right"> *@
        @*     Friendslist... *@
        @* </MudDrawer> *@
    }
}

@code {

    [Parameter]
    public bool NavbarOpen { get; set; } = true;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    EventResponse? _event;
    UserResponse? _currentUser = null;
    private Version? _tmNewVersion;

    void DrawerToggle()
    {
        NavbarOpen = !NavbarOpen;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        NotificationsService.TmVersionChanged += NotificationsServiceOnTmVersionChanged;
        NotificationsService.EventsChanged += NotificationsServiceOnEventsChanged;
        NotificationsService.UserChanged += NotificationsServiceOnUserChanged;
        NotificationsService.ShoutsChanged += NotificationsServiceOnShoutChanged;
        await base.OnInitializedAsync();
    }

    private Task NotificationsServiceOnTmVersionChanged(object arg1, Version? arg2)
    {
        _tmNewVersion = arg2 > AssemblyExtensions.GetTmVersion() ? arg2 : null;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task NotificationsServiceOnShoutChanged(object arg1, ShoutHubMessage arg2)
    {
        var shoutResult = await ShoutsService.GetAsync(new SieveModel { Filters = $"id=={arg2.Id}" });
        if (shoutResult.TotalCount == 1)
        {
            var shout = shoutResult.Results.First();
            if (_currentUser == null || _currentUser.Id != shout.User.Id)
            {
                Snackbar.Add($"{shout.User.Nickname} schreibt: {shout.Text}", Severity.Info, options =>
                {
                    options.Action = "➡ Shoutbox";
                    options.ActionColor = Color.Primary;
                    options.Onclick = _ =>
                    {
                        Navigation.NavigateTo("dashboard");
                        return Task.CompletedTask;
                    };
                    options.ActionVariant = Variant.Filled;
                    options.VisibleStateDuration = 60000;
                });
            }
        }
    }

    private async Task LoadData()
    {
        _event = await EventsService.CurrentEventAsync(true);
        _currentUser = await CurrentUserService.GetCurrentUser();
    }

    private async Task NotificationsServiceOnEventsChanged(object arg1, EventHubMessage eventHubMessage)
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task NotificationsServiceOnUserChanged(object arg1, UserHubMessage eventHubMessage)
    {
        if (_currentUser != null && eventHubMessage.Id == _currentUser.Id)
        {
            _currentUser = await CurrentUserService.GetCurrentUser();
            StateHasChanged();
        }
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    public void Dispose()
    {
        NotificationsService.TmVersionChanged -= NotificationsServiceOnTmVersionChanged;
        NotificationsService.EventsChanged -= NotificationsServiceOnEventsChanged;
        NotificationsService.UserChanged -= NotificationsServiceOnUserChanged;
        NotificationsService.ShoutsChanged -= NotificationsServiceOnShoutChanged;
    }

    private async Task WindowReloadClicked()
    {
        await JsRuntime.InvokeVoidAsync("location.reload");
    }

}
