@using Clanwars.TournamentManager.Lib.Messages.News
@using MudBlazor.Utilities
@inherits MudComponentBase
@inject IDialogService DialogService
@inject INewsService NewsService

<div class="@Classname" style="@StylesName">
    <div class="pt-6 pb-5 d-flex justify-space-between">
        <h1>
            @News.Headline
            <small>
                <MudText>@News.CreatedAt - @News.AuthorName</MudText>
            </small>
        </h1>
        @if (ShowEditButton)
        {
            <AuthorizeView Roles="tournament-moderator">
                <div>
                    <MudIconButton Icon="@Icons.Material.Filled.Create" Color="Color.Secondary" Size="Size.Medium" title="Edit news" OnClick="async () => await OpenEditNewsDialog(News)"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" Size="Size.Medium" title="Delete news" OnClick="async () => await DeleteNewsAsync(News)"/>
                </div>
            </AuthorizeView>
        }
    </div>
    <MudPaper Elevation="0" Class="pa-2">
        <MudMarkdown Value="@News.Body"></MudMarkdown>
    </MudPaper>
</div>

@code {

    [Parameter][EditorRequired] public NewsResponse News { get; set; } = null!;

    [Parameter]
    public bool ShowEditButton { get; set; } = true;

    private string Classname =>
        new CssBuilder("news-display")
            .AddClass(Class)
            .Build();

    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();


    private string _newsBodyHtml = string.Empty;

    private async Task OpenEditNewsDialog(NewsResponse news)
    {
        var parameters = new DialogParameters {["News"] = news};

        var dialog = await DialogService.ShowAsync<NewsEditDialog>("Edit News", parameters, new DialogOptions {BackdropClick = false, FullScreen = true});
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
        {
            News = (NewsResponse) result.Data!;
            StateHasChanged();
        }
    }

    private async Task DeleteNewsAsync(NewsResponse news)
    {
        var result = await DialogService.ShowMessageBox(
            "Warning", 
            "Deleting this news can not be undone!", 
            yesText:"Delete!", cancelText:"Cancel");
        if (result != null && result.Value)
        {
            await NewsService.DeleteAsync(news.Id);
        }
    }

}
