@inject ISnackbar Snackbar
@using Clanwars.TournamentManager.Lib.Messages.News
@using System.ComponentModel.DataAnnotations
@inherits OwningComponentBase<INewsService>

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Edit News
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudGrid>
                <MudItem xs="6">
                    <MudTextField Label="Headline" @bind-Value="_model.Headline" For="@(() => _model.Headline)" Variant="Variant.Outlined" Class="pb-2" DebounceInterval="500" OnDebounceIntervalElapsed="HandleFormInputChanged"/>
                    <MudTextField Label="Text" @bind-Value="_model.Body" For="@(() => _model.Body)" Variant="Variant.Outlined" Lines="20" DebounceInterval="500" OnDebounceIntervalElapsed="HandleFormInputChanged"/>
                </MudItem>
                <MudItem xs="6">
                    <h2 class="pb-3">Preview:</h2>
                    <MudPaper Class="px-3" Outlined="true">
                        <NewsDisplay News="News" ShowEditButton="false"></NewsDisplay>
                    </MudPaper>
                </MudItem>
            </MudGrid>
            <MudPaper Class="mt-6 mb-2 d-flex justify-start" Elevation="0">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Update News</MudButton>
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public NewsResponse News { get; set; } = null!;

    readonly EventInput _model = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _model.Headline = News.Headline;
        _model.Body = News.Body;
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        await Service.UpdateAsync(News.Id, new UpdateNewsMessage {Headline = _model.Headline, Body = _model.Body});
        News.Headline = _model.Headline;
        News.Body = _model.Body;
        Snackbar.Add("News successfully updated", Severity.Success);
        MudDialog.Close(DialogResult.Ok(News));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not update news as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][StringLength(40, MinimumLength = 5)]
        public string Headline { get; set; } = null!;

        [Required]
        public string Body { get; set; } = null!;
    }

    private void HandleFormInputChanged()
    {
        News.Headline = _model.Headline;
        News.Body = _model.Body;
    }

}
