@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Sieve.Models
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject IRoomsService RoomsService
@inject IEventsService EventsRepository

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Create Room
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudTextField Label="Size X" @bind-Value="_model.SizeX" For="@(() => _model.SizeX)" InputType="InputType.Number"/>
            <MudTextField Label="Size Y" @bind-Value="_model.SizeY" For="@(() => _model.SizeY)" InputType="InputType.Number"/>
            <MudSelect T="EventResponse" Label="Event" @bind-Value="_model.Event" AnchorOrigin="Origin.BottomCenter">
                @foreach (var ev in _events)
                {
                    <MudSelectItem Value="@(ev)">@(ev.Name)</MudSelectItem>
                }
            </MudSelect>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Create Room</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    readonly EventInput _model = new();
    private IList<EventResponse> _events = new List<EventResponse>();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _events = await EventsRepository.GetAllAsync(new SieveModel {Sorts = "-startDate"});
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var crm = new CreateRoomMessage
        {
            Name = _model.Name,
            SizeX = _model.SizeX,
            SizeY = _model.SizeY,
            EventId = _model.Event.Id
        };
        var newRoom = await RoomsService.CreateAsync(crm);
        Snackbar.Add($"Room \"{newRoom.Name}\" Created", Severity.Success);
        MudDialog.Close(DialogResult.Ok(newRoom));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create room as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][StringLength(30, MinimumLength = 3)]
        public string Name { get; set; } = null!;

        [Required][Range(1, 1000)] public int SizeX { get; set; }

        [Required][Range(1, 1000)] public int SizeY { get; set; }

        [Required]
        public EventResponse Event { get; set; } = null!;
    }

}
