@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Enums.Rooms
<div class="d-flex justify-content-center">
    <table class="grid-container">
        <tr class="d-flex">
            <td class="d-flex grid-container-size coordinate-cell"></td>
            @for (var i = 0; i < Room.SizeX; i++)
            {
                <td class="d-flex grid-container-size coordinate-cell justify-center align-center">
                    @(i + 1)
                </td>
            }
        </tr>

        @foreach (var row in GetGrid().Select((x, i) => new {Row = x, Index = i + 1}))
        {
            <tr class="grid-row">
                <td class="d-flex grid-container-size coordinate-cell border-0 justify-center align-center">@row.Index</td>
                @foreach (var gridSquare in row.Row)
                {
                    <td @onclick="() => ClickGridSquare(gridSquare)" class="grid-container-size grid-cell p-0 m-0 @(HighlightedUserIds != null && gridSquare.User != null && HighlightedUserIds.Contains(gridSquare.User.Id) ? "search-highlighted" : "")">
                        @switch (gridSquare.Type)
                        {
                            case GridSquareType.SeatDefault:
                            case GridSquareType.SeatTechSupport:
                            case GridSquareType.SeatTournamentSupport:
                            case GridSquareType.SeatCashier:
                                <GridSquareSeat Rotation="gridSquare.Rotation" CurrentUser="CurrentUser" GridSquare="gridSquare" UserToPlace="UserToPlace" UserPlaced="UserPlaced"></GridSquareSeat>
                                break;
                            case GridSquareType.Stairs:
                                <GridSquareStairs Rotation="gridSquare.Rotation"></GridSquareStairs>
                                break;
                            case GridSquareType.WallLine:
                                <GridSquareWallLine Rotation="gridSquare.Rotation"></GridSquareWallLine>
                                break;
                            case GridSquareType.WallX:
                                <GridSquareWallX Rotation="gridSquare.Rotation"></GridSquareWallX>
                                break;
                            case GridSquareType.WallT:
                                <GridSquareWallT Rotation="gridSquare.Rotation"></GridSquareWallT>
                                break;
                            case GridSquareType.WallCorner:
                                <GridSquareWallCorner Rotation="gridSquare.Rotation"></GridSquareWallCorner>
                                break;
                            case GridSquareType.BarCounterLine:
                                <GridSquareBarCounterLine Rotation="gridSquare.Rotation"></GridSquareBarCounterLine>
                                break;
                            case GridSquareType.BarCounterCorner:
                                <GridSquareBarCounterCorner Rotation="gridSquare.Rotation"></GridSquareBarCounterCorner>
                                break;
                            case GridSquareType.BarIcon:
                                <GridSquareBarIcon Rotation="gridSquare.Rotation"></GridSquareBarIcon>
                                break;
                            case GridSquareType.BeamerScreen:
                                <GridSquareBeamerIcon Rotation="gridSquare.Rotation"></GridSquareBeamerIcon>
                                break;
                            case GridSquareType.StageCorner:
                                <GridSquareStageCorner Rotation="gridSquare.Rotation"></GridSquareStageCorner>
                                break;
                            case GridSquareType.StageLine:
                                <GridSquareStageLine Rotation="gridSquare.Rotation"></GridSquareStageLine>
                                break;
                            case GridSquareType.Door:
                                <GridSquareDoor Rotation="gridSquare.Rotation"></GridSquareDoor>
                                break;
                            case GridSquareType.SleepIcon:
                                <GridSquareSleepIcon Rotation="gridSquare.Rotation"></GridSquareSleepIcon>
                                break;
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>

@code {

    [Parameter][EditorRequired] public RoomResponse Room { get; set; } = default!;

    /// Used to check permissions of the current user and highlight the current user itself within the room plan
    [Parameter][EditorRequired]
    public UserResponse CurrentUser { get; set; } = null!;

    /// If you want to place/manage a user the User object can be passed via this parameter 
    [Parameter]
    public UserResponse? UserToPlace { get; set; }

    /// Event is fired after a GridSquare was clicked
    [Parameter]
    public EventCallback<GridSquareResponse> GridSquareClicked { get; set; }

    /// Event is fired after a user was placed
    [Parameter]
    public EventCallback<GridSquareResponse> UserPlaced { get; set; }

    /// A user.id can be passed here to highlight a seat where the given user is seated. If userId is not assigned to any seat nothing will happen 
    [Parameter]
    public IList<int>? HighlightedUserIds { get; set; }

    private IList<IList<GridSquareResponse>> _grid = new List<IList<GridSquareResponse>>();

    private IList<IList<GridSquareResponse>> GetGrid()
    {
        return _grid;
    }

    protected override async Task OnParametersSetAsync()
    {
        _grid = new List<IList<GridSquareResponse>>();

        for (var i = 0; i < Room.SizeY; i++)
        {
            _grid.Add(new List<GridSquareResponse>());
            for (var j = 0; j < Room.SizeX; j++)
            {
                _grid[i].Add(new GridSquareResponse {X = j + 1, Y = i + 1});
            }
        }
        foreach (var roomGridSquare in Room.GridSquares)
        {
            _grid[roomGridSquare.Y - 1][roomGridSquare.X - 1] = roomGridSquare;
        }

        await base.OnParametersSetAsync();
    }

    private async Task ClickGridSquare(GridSquareResponse gridSquare)
    {
        await GridSquareClicked.InvokeAsync(gridSquare);
    }

    private async Task PlaceUser(GridSquareResponse gridSquare)
    {
        await UserPlaced.InvokeAsync(gridSquare);
    }

}
