@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Messages.Events
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject IRoomsService RoomsService
@inject IEventsService EventsService

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Update Room
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_events != null)
        {
            <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
                <DataAnnotationsValidator/>
                <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
                <MudTextField Label="Size X" @bind-Value="_model.SizeX" For="@(() => _model.SizeX)" InputType="InputType.Number"/>
                <MudTextField Label="Size Y" @bind-Value="_model.SizeY" For="@(() => _model.SizeY)" InputType="InputType.Number"/>
                <MudSelect Comparer="EvComparer" T="EventResponse" Label="Event" @bind-Value="_model.Event" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var ev in _events)
                    {
                        <MudSelectItem Value="@(ev)">@(ev.Name)</MudSelectItem>
                    }
                </MudSelect>
                <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                    <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Save Room</MudButton>
                </MudPaper>
            </EditForm>
        }
        else
        {
            <span>Loading form...</span>
        }
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter][EditorRequired] public RoomResponse Room { get; set; } = null!;

    readonly EventInput _model = new();
    private IList<EventResponse>? _events;

    private static EventComparer EvComparer { get; } = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        _events = await EventsService.GetAllAsync(new SieveModel {Sorts = "-startDate"});
        _model.Name = Room.Name;
        _model.SizeX = Room.SizeX;
        _model.SizeY = Room.SizeY;
        _model.Event = Room.Event;
        await base.OnInitializedAsync();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var urm = new UpdateRoomMessage
        {
            Name = _model.Name,
            EventId = _model.Event.Id,
            SizeX = _model.SizeX,
            SizeY = _model.SizeY
        };
        Room = await RoomsService.UpdateAsync(Room.Id, urm);
        Snackbar.Add($"Room \"{Room.Name}\" updated", Severity.Success);
        MudDialog.Close(DialogResult.Ok(Room));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not update room as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][StringLength(30, MinimumLength = 3)]
        public string Name { get; set; } = null!;

        [Required][Range(1, 1000)] public int SizeX { get; set; }

        [Required][Range(1, 1000)] public int SizeY { get; set; }

        [Required]
        public EventResponse Event { get; set; } = null!;
    }

}
