@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.Rooms
@using Sieve.Models
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject IRoomsService RoomsService
@inject IEventsService EventsRepository

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Copy Room
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudSelect T="EventResponse" Label="From Event" @bind-Value="_model.FromEvent" AnchorOrigin="Origin.BottomCenter" SelectedValuesChanged="FromEventSelected">
                @foreach (var ev in _events)
                {
                    <MudSelectItem Value="@(ev)">@(ev.Name)</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="RoomResponse" Label="Room to copy" @bind-Value="_model.Room" AnchorOrigin="Origin.BottomCenter" Disabled="!_rooms.Any()">
                @foreach (var room in _rooms)
                {
                    <MudSelectItem Value="@(room)">@(room.Name)</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="EventResponse" Label="To Event" @bind-Value="_model.ToEvent" AnchorOrigin="Origin.BottomCenter">
                @foreach (var ev in _events)
                {
                    <MudSelectItem Value="@(ev)">@(ev.Name)</MudSelectItem>
                }
            </MudSelect>
            <MudTextField Label="Name of new room" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Create Room</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    readonly EventInput _model = new();
    private IList<EventResponse> _events = new List<EventResponse>();
    private IList<RoomResponse> _rooms = new List<RoomResponse>();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _events = await EventsRepository.GetAllAsync(new SieveModel {Sorts = "-startDate"});
        _rooms = new List<RoomResponse>();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var crm = new CopyRoomMessage
        {
            Name = _model.Name,
            TargetEventId = _model.ToEvent.Id
        };
        var newRoom = await RoomsService.CopyAsync(_model.Room.Id, crm);
        Snackbar.Add($"Room \"{newRoom.Name}\" copied from \"{_model.Room.Name}\"", Severity.Success);
        MudDialog.Close(DialogResult.Ok(newRoom));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create room as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required]
        [StringLength(30, MinimumLength = 3)]
        public string Name { get; set; } = null!;

        [Required]
        public EventResponse FromEvent { get; set; } = null!;

        [Required]
        public EventResponse ToEvent { get; set; } = null!;

        [Required]
        public RoomResponse Room { get; set; } = null!;
    }

    private async Task FromEventSelected(IEnumerable<EventResponse> value)
    {
        _rooms = await RoomsService.GetAllAsync(new SieveModel {Filters = $"eventId=={value.First().Id}"});
    }

}
