@using MudBlazor.Utilities
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.Shouts
@using System.Net
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@using MudBlazor.Extensions
@inherits MudComponentBase
@inject IJSRuntime JsRuntime
@inject IDialogService DialogService
@inject INotificationsService NotificationsService
@inject IShoutsService ShoutsService
@inject IEventsService EventsService
@inject ISnackbar Snackbar
@implements IDisposable

<MudPaper Class="@Classname" Style="@StylesName" Elevation="@Elevation" UserAttributes="@(new Dictionary<string, object> {{"id", "shoutbox-wrapper"}})">
    @foreach (var shout in _shouts)
    {
        <MudDivider Class="my-3" Light="true"></MudDivider>
        <div class="d-flex justify-space-between">
            <UserDisplay User="@shout.User" AvatarSize="Size.Small"></UserDisplay>
            @* <MudText Typo="Typo.caption">@shout.User.Nickname</MudText> *@
            <div>
                <MudText Typo="Typo.caption">@(shout.CreatedAt)</MudText>
                <AuthorizeView Roles="tournament-moderator">
                    <Authorized>
                        <MudIconButton OnClick="async () => await DeleteShout(shout)" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Secondary"></MudIconButton>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <MudText Class="mt-1">@shout.Text</MudText>
    }
    <MudDivider Class="mt-3"></MudDivider>

    <MudTextField T="string" Variant="Variant.Text" Placeholder="Hallo in die Runde 👋" Lines="4" Style="margin-top: 0px" @bind-Value="@_shoutInputText" Immediate="true"/>
    <MudButton Size="Size.Small" Color="Color.Primary" OnClick="async () => await CreateShoutAsync()" Disabled="@(_shoutInputText is null or "")" Class="mt-2" Variant="Variant.Filled">Absenden!</MudButton>
</MudPaper>

@code {

    [Parameter]
    public int Elevation { get; set; }

    private string Classname =>
        new CssBuilder("news-display")
            .AddClass(Class)
            .AddClass("pa-2")
            .AddClass("overflow-y-scroll")
            .Build();

    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();

    private EventResponse? _currentEvent;
    private IList<ShoutResponse> _shouts = new List<ShoutResponse>();

    private string _shoutInputText = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadData();
        NotificationsService.ShoutsChanged += HandleShoutsChangedAsync;
    }

    private async Task LoadData()
    {
        _currentEvent = await EventsService.CurrentEventAsync();
        _shouts = await ShoutsService.GetAllAsync(new SieveModel {Filters = "createdAt>=" + _currentEvent!.StartDate.AddDays(-7).ToIsoDateString()});
    }

    private async Task HandleShoutsChangedAsync(object arg1, ShoutHubMessage arg2)
    {
        await LoadData();
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        ScrollToEnd();
    }

    private void ScrollToEnd()
    {
        JsRuntime.InvokeVoidAsync("scrollToEnd", ["shoutbox-wrapper"]);
    }

    private async Task CreateShoutAsync()
    {
        var csm = new CreateShoutMessage
        {
            Text = _shoutInputText
        };
        try
        {
            await ShoutsService.CreateAsync(csm);
            Snackbar.Add("Shout posted!", Severity.Success);
            _shoutInputText = null!;
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.BadRequest)
        {
        }
    }

    private async Task DeleteShout(ShoutResponse shout)
    {
        var result = await DialogService.ShowMessageBox(
            "Warning",
            $"Deleting this shout from {shout.User.Nickname} can not be undone!",
            yesText: "Delete!", cancelText: "Cancel");
        if (result != null && result.Value)
        {
            await ShoutsService.DeleteAsync(shout.Id);
            Snackbar.Add("Shout deleted", Severity.Success);
        }
    }

    public void Dispose()
    {
        NotificationsService.ShoutsChanged -= HandleShoutsChangedAsync;
    }

}
