
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.ngtt-de__container {
    display: inline-block;
    box-sizing: border-box;
}


.ngtt-de__match-component-container {
    display: flex;
    height: 100px;
    width: 350px;
    background-color: transparent;
    box-sizing: border-box !important;
}

.ngtt-de__winners-match-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 130px;
    width: 400px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box !important;
}

.ngtt-de__winners-match-wrapper::after {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: 25px;
    height: 50%;
    border-right: 2px solid goldenrod;
    content: '';
    box-sizing: border-box !important;
}

.ngtt-de__winners-match-wrapper::before {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: 25px;
    border-top: 2px solid goldenrod;
    content: '';
    box-sizing: border-box !important;
}

.ngtt-de__winners-match-wrapper:nth-child(odd)::after {
    top: 50%;
    border-top-right-radius: 0;
    border-top: 2px solid goldenrod;
}

.ngtt-de__winners-match-wrapper:nth-child(even)::after {
    top: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid goldenrod;
}

.ngtt-de__winners-match-wrapper:first-child:last-child::after {
    border-right: none;
    border-radius: 0;
    width: 23px;
}

.ngtt-de__winners-round-wrapper:not(:first-child):not(:nth-child(2)):not(:last-child) > .ngtt-de__winners-match-wrapper::before {
    width: 425px;
    left: -400px;
}

.ngtt-de__winners-round-wrapper:first-child > .ngtt-de__winners-match-wrapper::before {
    display: none;
}

.ngtt-de__finale-match-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    height: 100px;
    width: 350px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box !important;
}

.ngtt-de__finale-match-wrapper::before {
    box-sizing: border-box !important;
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: 25px;
    content: '';
    bottom: 65px;
    border-left: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.ngtt-de__finale-match-wrapper::after {
    box-sizing: border-box !important;
    display: flex;
    flex-grow: 1;
    left: -425px;
    top: 50%;
    height: 2%;
    position: absolute;
    width: 427px;
    content: '';
    border-right: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
    border-top-right-radius: 0;
}

.ngtt-de__winners-bracket-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box !important;
}

.ngtt-de__winners-round-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box !important;
    min-width: 800px;
}

.ngtt-de__winners-round-wrapper:first-child {
    min-width: 400px;
}

.ngtt-de__winners-round-wrapper:last-child {
    justify-content: flex-end;
}

.ngtt-de__losers-bracket-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box !important;
}

.ngtt-de__losers-round-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    padding-top: 50px;
    box-sizing: border-box !important;
}

.ngtt-de__losers-round-wrapper:nth-child(1) {
    margin-left: 400px;
}

.ngtt-de__losers-match-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 130px;
    width: 400px;
    padding: 15px 25px;
    position: relative;
    box-sizing: border-box !important;
}

.ngtt-de__losers-match-wrapper::after {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: 25px;
    height: 50%;
    content: '';
    box-sizing: border-box !important;
}

.ngtt-de__losers-match-wrapper::before {
    display: flex;
    flex-grow: 1;
    left: -2px;
    top: 50%;
    position: absolute;
    width: 27px;
    border-top: 2px solid goldenrod;
    content: '';
    box-sizing: border-box !important;
}

.ngtt-de__losers-round-wrapper:nth-child(even):not(:last-child) > .ngtt-de__losers-match-wrapper:nth-child(odd)::after {
    top: 50%;
    width: 25px;
    border-top-right-radius: 0;
    border-top: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
}

.ngtt-de__losers-round-wrapper:nth-child(even):not(:last-child) > .ngtt-de__losers-match-wrapper:nth-child(even)::after {
    top: 1px;
    width: 25px;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
}

.ngtt-de__losers-round-wrapper:nth-child(odd):not(:last-child) > .ngtt-de__losers-match-wrapper:nth-child(odd)::after {
    top: 50%;
    border-top-right-radius: 0;
    border-top: 2px solid goldenrod;
}

.ngtt-de__losers-round-wrapper:nth-child(odd):not(:last-child) > .ngtt-de__losers-match-wrapper:nth-child(even)::after {
    top: 2px;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid goldenrod;
}

.ngtt-de__losers-round-wrapper:first-child > .ngtt-de__losers-match-wrapper::before {
    display: none;
}


.ngtt-de__losers-round-wrapper:last-child > .ngtt-de__losers-match-wrapper::after {
    right: -2px;
    height: 150%;
    width: 27px;
    top: -100%;
    border-top: none;
    border-bottom: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box !important;
}
