@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using MudBlazor.Utilities
@inherits MudComponentBase

<div class="@Classname" style="@StylesName">
    <div class="ngtt-de__winners-bracket-wrapper">
        @foreach (var winnersRound in WinnersBracket)
        {
            <div class="ngtt-de__winners-round-wrapper">
            @* <span>Round: @winnersRound.Order</span> *@
                @foreach (var match in winnersRound.Matches)
                {
                    <div class="ngtt-de__winners-match-wrapper">
                        <div class="ngtt-de__match-component-container">
                            @MatchTemplate(match)
                        </div>
                    </div>
                }
            </div>
        }
        <div class="ngtt-de__winners-round-wrapper">
            <div class="ngtt-de__finale-match-wrapper">
                <div class="ngtt-de__match-component-container">
                    @MatchTemplate(Final.Matches.First())
                </div>
            </div>
        </div>
    </div>
    <div class="ngtt-de__losers-bracket-wrapper">
        @foreach (var losersRound in LosersBracket)
        {
            <div class="ngtt-de__losers-round-wrapper">
                @foreach (var match in losersRound.Matches)
                {
                    <div class="ngtt-de__losers-match-wrapper">
                        <div class="ngtt-de__match-component-container">
                            @MatchTemplate(match)
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>


@code {

    [Parameter][EditorRequired] public TournamentResponse Tournament { get; set; } = null!;

    [Parameter]
    public RenderFragment<TournamentMatchResponse> MatchTemplate { get; set; } = null!;
    
    private string Classname =>
        new CssBuilder("ngtt-de__container")
            .AddClass(Class)
            .Build();
    
    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();

    private IList<TournamentRoundResponse> WinnersBracket { get; set; } = null!;
    private IList<TournamentRoundResponse> LosersBracket { get; set; } = null!;
    private TournamentRoundResponse Final { get; set; } = null!;

    protected override void OnParametersSet()
    {
        WinnersBracket = Tournament.Rounds.Where(r => r.Type == TournamentRoundType.WinnerBracket).ToList();
        LosersBracket = Tournament.Rounds.Where(r => r.Type == TournamentRoundType.LoserBracket).ToList();
        Final = Tournament.Rounds.Single(r => r.Type == TournamentRoundType.Final);

        base.OnParametersSet();
    }

}
