@inject ICurrentUserService CurrentUserService
@inject IDialogService DialogService
@inject IOptions<BackendOptions> BackendOptions
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using Microsoft.Extensions.Options
@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using MudBlazor.Utilities
@inherits MudComponentBase

<div class="@Classname" style="@StylesName">
    @if (Tournament == null || _currentUser == null)
    {
        <div>
            Loading...
        </div>
    }
    else if (Tournament.Rounds.Count < 1 || Tournament.Rounds.First().Matches.Count < 1)
    {
        <MudPaper Elevation="1">
            Tournament not yet started...
        </MudPaper>
    }
    else
    {
        <AuthorizeView Roles="tournament-moderator">
            <MudPaper>
                <MudToolBar>
                    <MudSpacer/>
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" title="Set match scores" OnClick="async () => await ScorePointsMatchAsync(Tournament.Rounds.First().Matches.First())" Color="Color.Secondary" Disabled="Tournament.State is TournamentState.Finished or TournamentState.Closed"/>
                </MudToolBar>
            </MudPaper>
        </AuthorizeView>

        <MudSimpleTable Hover="true" Bordered="false" Striped="false" Style="overflow-x: auto;">
            <thead>
            <tr>
                <th>Team</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in Tournament.Rounds.FirstOrDefault()!.Matches.FirstOrDefault()!.Scores.OrderByDescending(m => m.Score))
            {
                <tr>
                    <td>
                        @if (Tournament.IsMultiplayer())
                        {
                            <div class="d-flex justify-start gap-4">
                                <MudAvatar Rounded="true" Size="Size.Large">
                                    @if (row.TournamentTeam?.ImageUrl is not null)
                                    {
                                        <MudImage Src="@(BackendOptions.Value.BaseAddress + "/" + row.TournamentTeam?.ImageUrl)"></MudImage>
                                    }
                                    else
                                    {
                                        @(row.TournamentTeam?.Name[..1].ToUpper())
                                    }
                                </MudAvatar>
                                <MudText Typo="Typo.subtitle1" Class="d-inline">@row.TournamentTeam?.Name</MudText>
                            </div>
                        }
                        @if (Tournament.IsSingleplayer())
                        {
                            <UserDisplay User="row.TournamentTeam?.Members.FirstOrDefault()?.Member"></UserDisplay>
                        }
                    </td>
                    <td>
                        @if (row.Score == null)
                        {
                            <MudText>not scored yet</MudText>
                        }
                        else
                        {
                            <MudText>@row.Score</MudText>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    }
</div>

@code {

    [Parameter][EditorRequired] public TournamentResponse? Tournament { get; set; }

    private string Classname =>
        new CssBuilder("ngtt-de__container")
            .AddClass(Class)
            .Build();

    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();

    private UserResponse? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _currentUser = await CurrentUserService.GetCurrentUser();
    }

    private async Task ScorePointsMatchAsync(TournamentMatchResponse tournamentMatchResponse)
    {
        var parameters = new DialogParameters {["Match"] = tournamentMatchResponse};

        var dialog = await DialogService.ShowAsync<TournamentScorePointsDialog>("Score Tournament", parameters, new DialogOptions {CloseButton = true, CloseOnEscapeKey = true, FullWidth = true});
        await dialog.Result;
    }

}
