@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using MudBlazor.Utilities
@inherits MudComponentBase

<div class="@Classname" style="@StylesName">
    <div class="ngtt-se__bracket-wrapper">
        @foreach (var winnersRound in WinnersBracket)
        {
            <div class="ngtt-se__round-wrapper">
                @foreach (var match in winnersRound.Matches)
                {
                    <div class="ngtt-se__match-wrapper">
                        <div class="ngtt-se__match-component-container">
                            @MatchTemplate(match)
                        </div>
                    </div>
                }
            </div>
        }
        <div class="ngtt-se__round-wrapper">
            <div class="ngtt-se__match-wrapper">
                <div class="ngtt-se__finale-match-wrapper">
                    <div class="ngtt-se__finale-component-container">
                        @MatchTemplate(Final.Matches.First())
                    </div>
                    @if (Final.Matches.Count > 1)
                    {
                        <div class="ngtt-se__match-component-container">
                            @MatchTemplate(Final.Matches.Skip(1).Take(1).Single())
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter][EditorRequired] public TournamentResponse Tournament { get; set; } = null!;

    [Parameter]
    public RenderFragment<TournamentMatchResponse> MatchTemplate { get; set; } = null!;

    private string Classname =>
        new CssBuilder("ngtt-se__container")
            .AddClass(Class)
            .Build();
    
    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();
    
    private IList<TournamentRoundResponse> WinnersBracket { get; set; } = null!;
    private TournamentRoundResponse Final { get; set; } = null!;

    protected override void OnParametersSet()
    {
        WinnersBracket = Tournament.Rounds.Where(r => r.Type == TournamentRoundType.WinnerBracket).ToList();
        Final = Tournament.Rounds.Single(r => r.Type == TournamentRoundType.Final);

        base.OnParametersSet();
    }

}
