@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Enums
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@inherits OwningComponentBase<ITournamentTeamsService>
@inject IDialogService DialogService

@{
    var myTeam = Tournament.GetUsersTeam(CurrentUser);
}

<MudGrid Justify="Justify.FlexStart">
    @foreach (var ttMember in TournamentTeam.Members.Where(ttm => ttm.Permission != EntityPermission.Pending).OrderBy(ttm => ttm.Member.Nickname))
    {
        <MudItem xs="6" Class="mud-elevation-2 pa-0 ma-2">
            <MudPaper Class="pa-2 d-flex justify-space-between align-center" Elevation="0">
                <UserDisplay User="ttMember.Member"></UserDisplay>
            </MudPaper>
            @if (ttMember.TournamentTeam.Id == myTeam?.Id)
            {
                <MudDivider></MudDivider>
                <MudPaper Elevation="0" Class="d-flex justify-end">
                    @if (ttMember.MemberId == CurrentUser.Id)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Color="Color.Primary" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Leave tournament" OnClick="async () => await LeaveTournamentTeam(ttMember)" Disabled="Tournament.State != TournamentState.OpenForRegistration"></MudIconButton>
                    }
                </MudPaper>
            }
        </MudItem>
    }
</MudGrid>

@code {

    [Parameter][EditorRequired] public TournamentTeamResponse TournamentTeam { get; set; } = null!;

    [Parameter][EditorRequired] public TournamentResponse Tournament { get; set; } = null!;

    [Parameter][EditorRequired] public UserResponse CurrentUser { get; set; } = null!;

    private async Task LeaveTournamentTeam(TournamentTeamMemberResponse ttMember)
    {
        var resultDeleteTeam = await DialogService.ShowMessageBox(
            "Unregister from tournament?",
            $"You are about to cancel you participation in {Tournament.Name}.",
            yesText: "Okay, remove me from the list!", cancelText: "Cancel");
        if (resultDeleteTeam != true) return;

        await Service.DeleteAsync(ttMember.TournamentTeam.Id);
    }

}
