@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Messages.Events
@using System.ComponentModel.DataAnnotations
@inject ISnackbar Snackbar
@inject ITournamentsService TournamentsService
@inject IEventsService EventsService

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Scoreboard" Class="mr-3 mb-n1"/>
            Score Match
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>

            <MudTextField Label="@(Match.Scores.First().TournamentTeam!.IsSinglePersonTeam() ? Match.Scores.First().TournamentTeam!.Members.First().Member.Nickname : Match.Scores.First().TournamentTeam!.Name)" @bind-Value="_model.TeamAScore" For="@(() => _model.TeamAScore)"/>
            <MudTextField Label="@(Match.Scores.Last().TournamentTeam!.IsSinglePersonTeam() ? Match.Scores.Last().TournamentTeam!.Members.Last().Member.Nickname : Match.Scores.Last().TournamentTeam!.Name)" @bind-Value="_model.TeamBScore" For="@(() => _model.TeamBScore)"/>

            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Score</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public TournamentMatchResponse Match { get; set; } = null!;

    [Parameter]
    public UserResponse CurrentUser { get; set; } = null!;

    readonly EventInput _model = new();
    private IList<EventResponse> _events = new List<EventResponse>();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _events = await EventsService.GetAllAsync(new SieveModel {Sorts = "-startDate", Filters = $"EndDate>={DateTime.Today:O}"});
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var smm = new ScoreMatchMessage
        {
            Scores = new List<SetTeamScore>
            {
                new()
                {
                    TournamentTeamId = Match.Scores.First().TournamentTeam.Id,
                    Score = _model.TeamAScore
                },
                new()
                {
                    TournamentTeamId = Match.Scores.Last().TournamentTeam.Id,
                    Score = _model.TeamBScore
                }
            }
        };

        if (_model.TeamAScore == _model.TeamBScore)
        {
            Snackbar.Add("Cannot score a match without a winner", Severity.Error);
            return;
        }

        if (
            (_model.TeamAScore > _model.TeamBScore && Match.Scores.First().TournamentTeam.Members.Any(m => m.Member.Id.Equals(CurrentUser.Id)))
            ||
            (_model.TeamAScore < _model.TeamBScore && Match.Scores.Last().TournamentTeam.Members.Any(m => m.Member.Id.Equals(CurrentUser.Id)))
            )
        {
            Snackbar.Add("Only loser team can score a match", Severity.Error);
            return;
        }

        var matchResponse = await TournamentsService.ScoreMatchAsync(Match.Id, smm);
        Snackbar.Add("Match scored", Severity.Success);
        MudDialog.Close(DialogResult.Ok(matchResponse));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not score match as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required][Range(0, 1024)] public int TeamAScore { get; set; }

        [Required][Range(0, 1024)] public int TeamBScore { get; set; }
    }

}
