@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using System.Net
@inject ITournamentsService TournamentsService
@inject ISnackbar Snackbar

<MudPaper Class="d-flex justify-space-between" Elevation="0">
    @switch (Tournament.State)
    {
        case TournamentState.Planning:
            <MudPaper Elevation="0" Class="mud-warning px-1">
                Planning
            </MudPaper>
            <AuthorizeView Roles="tournament-moderator">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowRight" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" title="Set open for registration" OnClick="async () => await UpdateTournamentStateAsync(TournamentState.OpenForRegistration)"/>
            </AuthorizeView>
            break;
        case TournamentState.OpenForRegistration:
            <AuthorizeView Roles="tournament-moderator">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowLeft" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" title="Back to planning state" OnClick="async () => await UpdateTournamentStateAsync(TournamentState.Planning)"/>
            </AuthorizeView>
            <MudPaper Elevation="0" Class="mud-secondary px-1">
                Open for registration
            </MudPaper>
            <AuthorizeView Roles="tournament-moderator">
                <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Variant="Variant.Outlined" Color="Color.Success" Size="Size.Small" title="Start the tournament" OnClick="StartTournament"/>
            </AuthorizeView>
            break;
        case TournamentState.Running:
            <MudPaper Elevation="0" Class="mud-success px-1">Running</MudPaper>
            break;
        case TournamentState.Finished:
            <MudPaper Elevation="0" Class="mud-primary px-1">Finished</MudPaper>
            break;
        case TournamentState.Closed:
            <MudPaper Elevation="0" Class="mud-error px-1">Closed</MudPaper>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
    <AuthorizeView Roles="tournament-moderator">
        @if (Tournament.State != TournamentState.Closed && Tournament.State != TournamentState.Finished)
        {
            <MudIconButton Icon="@Icons.Material.Filled.LockOpen" Variant="Variant.Text" Color="Color.Secondary" Size="Size.Small" title="Close Tournament" OnClick="async () => await UpdateTournamentStateAsync(TournamentState.Closed)"/>
        }
        else
        {
            <MudIconButton Icon="@Icons.Material.Filled.Lock" Variant="Variant.Text" Color="Color.Error" Size="Size.Small" title="Open Tournament again"  OnClick="async () => await UpdateTournamentStateAsync(TournamentState.Planning)"/>
        }
    </AuthorizeView>
</MudPaper>

@code {

    [Parameter][EditorRequired] public TournamentResponse Tournament { get; set; } = null!;

    private async Task UpdateTournamentStateAsync(TournamentState tournamentState)
    {
        var utm = new UpdateTournamentMessage
        {
            Name = Tournament.Name,
            State = tournamentState
        };
        await TournamentsService.UpdateAsync(Tournament.Id, utm);
        Snackbar.Add($"Tournament {Tournament.Name} is now in state `{tournamentState}`", Severity.Success);
    }

    private async Task StartTournament()
    {
        try
        {
            await TournamentsService.StartTournamentAsync(Tournament.Id);
            Snackbar.Add($"Tournament {Tournament.Name} started", Severity.Success);
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.BadRequest)
        {
        }
    }

}
