@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Enums
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@inherits OwningComponentBase<ITournamentTeamsService>
@inject IDialogService DialogService

@{
    var myTeam = Tournament.GetUsersTeam(CurrentUser);
}

<MudGrid Justify="Justify.FlexStart">
    @foreach (var ttMember in TournamentTeam.Members.Where(ttm => ttm.Permission != EntityPermission.Pending).OrderBy(ttm => ttm.Member.Nickname))
    {
        <MudItem xs="3" Class="mud-elevation-2 pa-0 ma-2">
            <MudPaper Class="pa-2 d-flex justify-space-between align-center" Elevation="0">
                <UserDisplay User="ttMember.Member"></UserDisplay>
                <div class="d-flex align-center">
                    @if (ttMember.Permission == EntityPermission.Owner)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.FaceRetouchingNatural" Color="Color.Warning" Class="mr-3" title="Owner"></MudIcon>
                    }
                </div>
            </MudPaper>
            @if (ttMember.TournamentTeam.Id == myTeam?.Id)
            {
                <MudDivider></MudDivider>
                <MudPaper Elevation="0" Class="d-flex justify-end">
                    @if (ttMember.Permission == EntityPermission.Member && ttMember.TournamentTeam.IsOwner(CurrentUser))
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.FaceRetouchingNatural" Color="Color.Error" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Make person to owner" OnClick="async () => await MakeTournamentTeamMemberToOwner(ttMember)"></MudIconButton>
                    }
                    @if (!ttMember.MemberId.Equals(CurrentUser.Id) && TournamentTeam.IsOwner(CurrentUser))
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.PersonOff" Color="Color.Error" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Remove person from team" OnClick="async () => await RemoveMemberFromTournamentTeam(ttMember)"></MudIconButton>
                    }
                    @if (ttMember.MemberId == CurrentUser.Id)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Color="Color.Primary" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Leave team" OnClick="async () => await LeaveTournamentTeam(ttMember)"></MudIconButton>
                    }
                </MudPaper>
            }
        </MudItem>
    }
</MudGrid>
@if (Tournament.State == TournamentState.OpenForRegistration && Tournament.PlayerPerTeam > TournamentTeam.Members.Count(m => m.Permission != EntityPermission.Pending) && Tournament.Teams.SelectMany(tt => tt.Members).All(ttm => !ttm.MemberId.Equals(CurrentUser.Id)))
{
    <div class="mt-5">
        <MudButton Color="Color.Primary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.FactCheck" Size="Size.Small" OnClick="async () => await JoinTournamentTeamAsync(TournamentTeam)">Join Team</MudButton>
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public TournamentTeamResponse TournamentTeam { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public TournamentResponse Tournament { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public UserResponse CurrentUser { get; set; } = null!;

    private async Task MakeTournamentTeamMemberToOwner(TournamentTeamMemberResponse member)
    {
        await Service.GrantOwnershipAsync(member.TournamentTeam.Id, member.MemberId);
    }

    private async Task RemoveMemberFromTournamentTeam(TournamentTeamMemberResponse ttMember)
    {
        if (!ttMember.TournamentTeam.IsOwner(CurrentUser!))
        {
            return;
        }

        var result = await DialogService.ShowMessageBox(
            "Remove User",
            $"Do you really want to remove {ttMember.Member.Nickname} from this Tournament Team?",
            yesText: "Yes, kick him!", cancelText: "Cancel");
        if (result == true)
        {
            await Service.RemoveUserAsync(ttMember.TournamentTeam.Id, ttMember.MemberId);
        }
    }

    private async Task LeaveTournamentTeam(TournamentTeamMemberResponse ttMember)
    {
        if (ttMember.TournamentTeam.Members.Count(m => m.Permission == EntityPermission.Owner && m.MemberId != ttMember.MemberId) < 1)
        {
            await DialogService.ShowMessageBox(
                "Error",
                $"You cannot leave the tournament team {ttMember.TournamentTeam.Name} because there are other members in this team but you are the last remaining Owner! Either promote another member to be a new Owner or first remove all other members from the team and leave the team afterwards.",
                yesText: "Okay, sorry");
            return;
        }

        if (ttMember.TournamentTeam.Members.Count == 1)
        {
            var resultDeleteTeam = await DialogService.ShowMessageBox(
                "Delete Team?",
                $"You are the last member of the team {ttMember.TournamentTeam.Name}. Leaving the team will also delete the team itself.",
                yesText: "Okay, Delete Team!", cancelText: "Cancel");
            if (resultDeleteTeam != true) return;

            await Service.DeleteAsync(ttMember.TournamentTeam.Id);
            return;
        }

        var resultLeaveTeam = await DialogService.ShowMessageBox(
            "Leave Team",
            $"Do you really want to leave the team {ttMember.TournamentTeam.Name}?",
            yesText: "Yes, leave!", cancelText: "Cancel");
        if (resultLeaveTeam == true)
        {
            if (ttMember.MemberId == CurrentUser.Id)
            {
                await Service.LeaveAsync(ttMember.TournamentTeam.Id);
            }
            else
            {
                await Service.RemoveUserAsync(ttMember.TournamentTeam.Id, ttMember.MemberId);
            }
        }
    }

    private async Task JoinTournamentTeamAsync(TournamentTeamResponse tournamentTeam)
    {
        var resultJoinTournamentTeam = await DialogService.ShowMessageBox(
            "Join Team",
            $"Do you want to join the team {tournamentTeam.Name}? One of the Owners of the Team has to approve you!",
            yesText: "Join Team!", cancelText: "Cancel");
        if (resultJoinTournamentTeam == true)
        {
            await Service.JoinAsync(tournamentTeam.Id);
        }
    }

}
