.door--left {
    position: absolute;
    width: 15%;
    height: 25%;
    left: 0;
    top: calc(75% / 2);
    border-right: 1px solid var(--mud-palette-primary-lighten);
    border-top: 1px solid var(--mud-palette-primary-lighten);
    border-bottom: 1px solid var(--mud-palette-primary-lighten);
    background-color: var(--mud-palette-primary);
}

.door--right {
    position: absolute;
    width: 15%;
    height: 25%;
    right: 0;
    top: calc(75% / 2);
    border-left: 1px solid var(--mud-palette-primary-lighten);
    border-top: 1px solid var(--mud-palette-primary-lighten);
    border-bottom: 1px solid var(--mud-palette-primary-lighten);
    background-color: var(--mud-palette-primary);
}
