@inherits RoomGridSquareBase

<RoomGridRotationContainer Rotation="Rotation" class="@Class" style="@Style" @attributes="@UserAttributes">
    <div class="wall-corner"></div>
    <div class="wall-corner--short"></div>
</RoomGridRotationContainer>
