@inherits RoomGridSquareBase

<MudTooltip Text="Stairs">
    <RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
        <div class="stairs">
            <RoomGridIconContainer>
                <MudIcon Icon="@Icons.Material.Filled.ArrowUpward"></MudIcon>
            </RoomGridIconContainer>
            <div class="step step--1"></div>
            <div class="step step--2"></div>
            <div class="step step--3"></div>
            <div class="step step--4"></div>
            <div class="step step--5"></div>
        </div>
    </RoomGridRotationContainer>
</MudTooltip>
