@inherits RoomGridSquareBase

<MudTooltip Text="Stage">
    <RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
        <div class="stage-corner"></div>
        <div class="stage-corner--short"></div>
    </RoomGridRotationContainer>
</MudTooltip>
