.stairs {
    width: 100%;
    height: 100%;
}

.stairs .step {
    width: 90%;
    margin-left: 5%;
    height: 20%;
    left: 0;
    position: absolute;
    background-color: var(--mud-palette-primary);
}

.stairs .step--1 {
    bottom: 0;
    opacity: 0.9;
}

.stairs .step--2 {
    bottom: 20%;
    opacity: 0.7;
}

.stairs .step--3 {
    bottom: 40%;
    opacity: 0.5;
}

.stairs .step--4 {
    bottom: 60%;
    opacity: 0.3;
}

.stairs .step--5 {
    bottom: 80%;
    opacity: 0.2;
}
