.seat {
    border: 1px solid var(--mud-palette-primary-lighten);
    position: absolute;
    width: 90%;
    margin: 5%;
    height: 50%;
    font-size: 80%;
}

.stool {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    border: 1px solid var(--mud-palette-primary-lighten);
    bottom: 15%;
    left: 40%;
}

.stool-occupied {
    background-color: var(--mud-palette-info);
}

.stool-occupied-me {
    border: 1px solid var(--mud-palette-secondary);
    background-color: var(--mud-palette-secondary);
}

.bg-seat-empty {
    color: var(--mud-palette-gray-default);
}

.bg-seat-occupied {
    color: var(--mud-palette-info);
}

.bg-seat-occupied-me {
    border: 1px solid var(--mud-palette-secondary);
    color: var(--mud-palette-secondary);
}

.seat-border-tech {
    border: 1px solid var(--mud-palette-warning-darken);
}


.seat-border-tournament {
    border: 1px solid var(--mud-palette-warning);
}

.seat-border-cash {
    border: 1px solid var(--mud-palette-warning-lighten);
}
