@inherits RoomGridSquareBase

<MudTooltip Text="Stage">
    <RoomGridRotationContainer Rotation="@Rotation" Class="@Class" Style="@Style" UserAttributes="@UserAttributes">
        <div class="stage-line"></div>
    </RoomGridRotationContainer>
</MudTooltip>
