@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Lib.Messages.User
@using Microsoft.Extensions.Options
@using MudBlazor.Utilities
@inherits MudComponentBase
@inject IOptions<BackendOptions> BackendOptions

<div @attributes="UserAttributes" class="@Classname" style="@StylesName">
    <MudAvatar Rounded="true" Size="Size">
        @if (User.ImageUrl is not null)
        {
            <MudImage Src="@(BackendOptions.Value.BaseAddress + "/" + User.ImageUrl)"></MudImage>
        }
        else
        {
            @(User.FirstName.Length > 0 && User.LastName.Length > 0 ? User.FirstName[..1].ToUpper() + User.LastName[..1].ToUpper() : "??")
        }
    </MudAvatar>
</div>

@code {

    [Parameter][EditorRequired] public UserResponse User { get; set; } = null!;

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    private string Classname =>
        new CssBuilder("user-avatar")
            .AddClass(Class)
            .Build();

    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();

}
