@using Clanwars.TournamentManager.Lib.Messages.User
@using MudBlazor.Utilities
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@StylesName">
    @if (!User.IsIncompleteProfile)
    {
        <MudTooltip Placement="Placement.Top" Text="@($"{User.FirstName} {User.LastName}")">
            <div class="d-flex justify-start gap-3">
                <UserAvatar User="User" Size="AvatarSize"></UserAvatar>
                <MudText Typo="Typo.subtitle1" Class="d-inline">@User.Nickname</MudText>
            </div>
        </MudTooltip>
    }
    else
    {
        <div style="text-align: left">
            <MudText Typo="Typo.subtitle1">@User.FirstName @User.LastName</MudText>
            @if (ShowEmail)
            {
                <MudText Typo="Typo.subtitle2">@User.Email</MudText>
            }
            <MudChip T="string" Size="Size.Small" Icon="@Icons.Material.Filled.HourglassEmpty" Color="Color.Warning">Incomplete Profile</MudChip>
        </div>
    }
</div>

@code {

    [Parameter][EditorRequired] public UserResponse User { get; set; } = null!;

    [Parameter]
    public Size AvatarSize { get; set; } = Size.Large;

    [Parameter]
    public bool ShowEmail { get; set; }

    private string Classname =>
        new CssBuilder("user-display")
            .AddClass(Class)
            .Build();

    private string StylesName =>
        new StyleBuilder()
            .AddStyle(Style)
            .Build();

}
