@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using System.Net
@using Clanwars.TournamentManager.Lib.Messages.User
@inherits OwningComponentBase<IUsersService>

<EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Email" Class="my-3"
                          @bind-Value="_model.Email" For="@(() => _model.Email)" Disabled="true"/>
            <MudTextField Label="First name" Class="my-3"
                          @bind-Value="_model.FirstName" For="@(() => _model.FirstName)"/>
            <MudTextField Label="Last name" Class="my-3"
                          @bind-Value="_model.LastName" For="@(() => _model.LastName)"/>
            <MudTextField Label="Nickname" Class="my-3"
                          @bind-Value="_model.Nickname" For="@(() => _model.Nickname)" Error="@_nicknameError" ErrorText="@_nicknameErrorMsg"/>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save profile</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {

    [Parameter] [EditorRequired] public UserResponse User { get; set; } = null!;

    [Parameter] public EventCallback<UserResponse> OnUserCompletedProfile { get; set; }

    RegisterAccountForm _model = new();

    string _nicknameErrorMsg = "";
    bool _nicknameError;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _model.Email = User.Email;
        _model.FirstName = User.FirstName;
        _model.LastName = User.LastName;
        _model.Nickname = User.Nickname;
    }

    public class RegisterAccountForm
    {
        [Required][StringLength(32)][NotNull] public string? FirstName { get; set; }

        [Required][StringLength(32)][NotNull] public string? LastName { get; set; }

        [Required]
        [StringLength(32, MinimumLength = 3)]
        [NotNull]
        public string? Nickname { get; set; }

        [Required][EmailAddress] public string Email { get; set; } = null!;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            _nicknameError = false;
            _nicknameErrorMsg = "";
            var user = await Service.Update(User.Id, _model.FirstName, _model.LastName, _model.Nickname);
            await OnUserCompletedProfile.InvokeAsync(user);
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.BadRequest)
        {
            _nicknameErrorMsg = "Nickname is already in use";
            _nicknameError = true;
        }
    }

}
