@using Clanwars.TournamentManager.Lib.Messages.Shouts
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@inject IShoutsService ShoutsService

@if (_shout != null)
{
    <div class="d-flex justify-center" style="min-height: 100vh">
        <div class="d-flex flex-column justify-center">
            <div class="item-background pa-3 d-flex flex-column" style="min-width: 40vw; max-width: 80vw; border-radius: 1rem">
                <div>
                    <h1 class="mb-4">
                        <strong>@_shout.User.Nickname</strong>
                        <small class="font-weight-light "> schreibt...</small>
                    </h1>
                </div>
                <div>
                    <p class="h4 mb-4">
                        @_shout.Text
                    </p>
                </div>
                <div>
                    <hr class="my-1 border-secondary">
                    <p class="h5 mb-2 text-secondary">
                        Schreibe eigene Nachrichten über die <strong>Shoutbox</strong> auf der
                        Website!
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private ShoutResponse? _shout;

    [Parameter]
    [EditorRequired]
    public ShoutBeamerHubMessage ShoutBeamerHubMessage { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        _shout = await ShoutsService.GetAsync(ShoutBeamerHubMessage.Id);
        await base.OnParametersSetAsync();
    }

}
