﻿/* Versus Animation */
@keyframes versusEnter {
  0% { opacity: 0; transform: scale(1); }
  50% { opacity: 0.8; transform: scale(5); }
  100% { opacity: 1; transform: scale(1); }
}
.versus-highlight{
    animation: versusEnter 1100ms ease-in-out forwards;
}
.versus {
  opacity: 0;
  width: 100%;
  height: 10vh;
  overflow: visible;
  text-align: center;
  top: 47%;
  left: 0;
  font-family: Impact, "Century Gothic", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-shadow: 0 0 35px rgba(0, 0, 0, .5), 0 0 25px rgba(0, 0, 0, .7), 0 0 15px rgba(0, 0, 0, .7), 0 0 10px rgba(0, 0, 0, .9);
  font-size: xxx-large;
}

/* Initial Screen Animation */
@keyframes initialScreenExit {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.initial-screen-out-animation {
  animation: initialScreenExit 400ms ease-in-out forwards;
}

/* Winner Screen Animation */
@keyframes winnerScreenEnter {
  0% { width: 0vw; left: 50%; height: 0vh; top: 50%; }
  1% { background-color: #fff; }
  50% { height: 1px; left: 0%; width: 100vw; top: 50%; background-color: #fff; }
  51% { background-color: inherit; }
  100% { height: 40vh; left: 0%; width: 100vw; top: 30%; }
}

.winner-screen-container {
  animation: winnerScreenEnter 1200ms ease-in-out forwards;
  position: fixed;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* Winner Screen Text Animation */
@keyframes winnerScreenTextEnter {
    0% { opacity: 0; top: 20%; }
    100% { opacity: 1; top: 20%; }
}
@keyframes winnerScreenTextSmaller {
    0% { opacity: 1; top: 20%; }
    100% { opacity: 1; top: 5%; transform: scale(0.7); }
}

.winner-screen-text-smaller {
    animation: winnerScreenTextSmaller 550ms ease-in-out forwards !important;
}
.winner-screen-text {
    animation: winnerScreenTextEnter 200ms ease-in-out forwards;
    top: 20%;
    z-index: 1000;
    word-break: keep-all;
    white-space: nowrap;
}

/* Winner Name Animation */
@keyframes winnerNameEnter {
  0% { opacity: 0; transform: scale(0); top: 45%;}
  50% { opacity: 1; }
  100% { transform: scale(1.7);}
}
@keyframes winnerNameSmaller {
    0% { transform: scale(1.7); top: 45%;}
    100% { opacity: 1; transform: scale(1); top: 20%;}
}

.winner-name-smaller {
    animation: winnerNameSmaller 550ms ease-in-out forwards !important;
}
.winner-name {
  animation: winnerNameEnter 450ms ease-in-out forwards;
  top: 45%;
  z-index: 1000;
  word-break: keep-all;
  white-space: nowrap;
}

/* Show Results Animation */
@keyframes showResultsEnterStep1 {
    0% { opacity: 0; top: 35%; }
    100% { opacity: 0; }
}
@keyframes showResultsEnterStep2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.show-results {
  animation: showResultsEnterStep1,showResultsEnterStep2 ease-in-out;
  animation-duration: 300ms,500ms;
  animation-delay: 0ms,300ms;
  top: 35%;
    width: 100%;
    height: 75%;
}

/* Two Player Left Animation */
@keyframes twoPlayerLeftEnter {
  0% { right: 200%; top: 25%; min-height: 10vh; }
  100% { right: 0; }
}

.two-player-left {
  animation: twoPlayerLeftEnter 1500ms ease-out forwards;
}

/* Two Player Right Animation */
@keyframes twoPlayerRightEnter {
  0% { left: 200%; top: 65%; min-height: 10vh; }
  100% { left: 0; }
}

.two-player-right {
  animation: twoPlayerRightEnter 1500ms ease-out forwards;
}

/* Four Player Top Left Animation */
@keyframes fourPlayerTopLeftEnter {
  0% { left: -100%; top: 25%; min-height: 10vh; }
  100% { left: 0; }
}

.four-player-top-left {
  animation: fourPlayerTopLeftEnter 1500ms ease-out forwards;
}

/* Four Player Top Right Animation */
@keyframes fourPlayerTopRightEnter {
  0% { right: -100%; top: 25%; min-height: 10vh; }
  100% { right: 0; }
}

.four-player-top-right {
  animation: fourPlayerTopRightEnter 1500ms ease-out forwards;
}

/* Four Player Bottom Left Animation */
@keyframes fourPlayerBottomLeftEnter {
  0% { left: -100%; top: 65%; min-height: 10vh; }
  100% { left: 0; }
}

.four-player-bottom-left {
  animation: fourPlayerBottomLeftEnter 1500ms ease-out forwards;
}

/* Four Player Bottom Right Animation */
@keyframes fourPlayerBottomRightEnter {
  0% { right: -100%; top: 65%; min-height: 10vh; }
  100% { right: 0; }
}

.four-player-bottom-right {
  animation: fourPlayerBottomRightEnter 1500ms ease-out forwards;
}

/* Two Players */
.team-card-two-players {
  min-width: 35vw;
  max-width: 80vw;
}

.team-left-position {
  top: 25%;
  right: 0;
  min-height: 10vh;
  width: 100vw;
}

.team-right-position {
  top: 65%;
  left: 0;
  min-height: 10vh;
  width: 100vw;
}

/* Four Players */
.team-card-four-players {
  min-width: 40vw;
  max-width: 40vw;
}

.team-top-left-position {
  top: 25%;
  left: 0;
  min-height: 10vh;
  width: 100vw;
  padding-left: 4rem;
}

.team-top-right-position {
  top: 25%;
  right: 0;
  min-height: 10vh;
  width: 100vw;
  padding-right: 4rem;
}

.team-bottom-left-position {
  top: 65%;
  left: 0;
  min-height: 10vh;
  width: 100vw;
  padding-left: 4rem;
}

.team-bottom-right-position {
  top: 65%;
  right: 0;
  min-height: 10vh;
  width: 100vw;
  padding-right: 4rem;
}
