@using Clanwars.TournamentManager.Lib.Messages.News
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@inject INewsService NewsService

@if (_news != null)
{
    <div class="d-flex justify-center" style="min-height: 100vh">
        <div class="d-flex flex-column justify-center">
            <div class="item-background pa-3 d-flex flex-column" style="min-width: 40vw; max-width: 80vw; border-radius: 1rem">
                <div>
                    <p class="h5 mb-2 text-secondary text-right">
                        Nachricht von
                        <span class="text-white">@_news.AuthorName</span>
                    </p>
                    <hr class="mt-1 mb-2 border-secondary">
                </div>
                <div>
                    <h1 class="mb-4 font-weight-light text-center w-100">
                        @_news.Headline<br>
                    </h1>
                </div>
                <div>
                    <p class="h5 mb-4">
                        <MudMarkdown Value="@_news.Body"></MudMarkdown>
                    </p>
                </div>
                <div>
                    <hr class="my-1 border-secondary">
                    <p class="h5 mb-2 text-secondary text-right">
                        @_news.CreatedAt.ToShortDateString() um @_news.CreatedAt.ToShortTimeString() Uhr
                    </p>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private NewsResponse? _news;

    [Parameter]
    [EditorRequired]
    public NewsBeamerHubMessage NewsBeamerHubMessage { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        _news = await NewsService.GetAsync(NewsBeamerHubMessage.Id);
        await base.OnParametersSetAsync();
    }

}
