@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@using Microsoft.Extensions.Options
@inject IOptions<BackendOptions> BackendOptions

<div class="d-flex justify-center align-center" style="height: 100vh; width: 100vw">
    <img src="@($"{BackendOptions.Value.BaseAddress}/api/v1/Images/{ImageBeamerHubMessage.ImageHashId}")" style="width: 100%; max-width: 100vw; max-height: 100vh; object-fit: contain" alt="Static image on the beamer screen">
</div>

@code {

    [Parameter]
    [EditorRequired]
    public ImageBeamerHubMessage ImageBeamerHubMessage { get; set; } = null!;

}
