@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Lib.Messages.Pipeline
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@using Microsoft.Extensions.Options
@inject IOptions<BackendOptions> BackendOptions

<div style="opacity: @(_fadingState == "fadeIn" ? 1 : 0); transition: opacity 600ms ease-in-out;">
    @if (_currentEntry != null)
    {
        @if (_currentEntry is not ImageBeamerHubMessage)
        {
            <div class="video-container">
                <video loop muted autoplay="autoplay" width="100%" src="@_videoUrl">
                </video>
            </div>
        }

        <div class="content-container">
            <div class="beamer-view-dispatcher-container container-slide-in">
                @switch (_currentEntry.ModuleType)
                {
                    case ModuleType.Shouts:
                        <BeamerShoutsView ShoutBeamerHubMessage="@((ShoutBeamerHubMessage)_currentEntry)"/>
                        break;
                    case ModuleType.News:
                        <BeamerNewsView NewsBeamerHubMessage="@((NewsBeamerHubMessage)_currentEntry)"/>
                        break;
                    case ModuleType.Tournaments:
                        <BeamerTournamentsView TournamentBeamerHubMessage="@((TournamentBeamerHubMessage)_currentEntry)" AccentColor="@_accentColor"/>
                        break;
                    case ModuleType.Matches:
                        <BeamerMatchesView BeamerHubMessage="@(_currentEntry)" AccentColor="@_accentColor"/>
                        break;
                    case ModuleType.MatchResults:
                        <BeamerMatchesView BeamerHubMessage="@(_currentEntry)" AccentColor="@_accentColor"/>
                        break;
                    case ModuleType.MatchResult:
                        <BeamerMatchResultView BeamerHubMessage="@((TournamentMatchResultBeamerHubMessage)_currentEntry)" AccentColor="@_accentColor"/>
                        break;
                    case ModuleType.Images:
                        <BeamerImageView ImageBeamerHubMessage="@((ImageBeamerHubMessage)_currentEntry)"/>
                        break;
                    case ModuleType.WelcomeMessage:
                        <BeamerWelcomeMessageView WelcomeBeamerHubMessage="@((WelcomeBeamerHubMessage)_currentEntry)" AccentColor="@_accentColor"/>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    [EditorRequired]
    public IBeamerHubMessage? BeamerHubMessage { get; set; }

    private List<(string url, string accentColor)> _visuals =
    [
        ("/bokk.mp4", "#FF00DE'"),
        ("/breath_ctrl.mp4", "#00F9FF"),
        ("/brokchrd.mp4", "#ff6700"),
        ("/built.mp4", "#00F9FF"),
        ("/cleanroom.mp4", "#ff073a"),
        ("/crysblast.mp4", "#FF00DE"),
        ("/crystmounts.mp4", "#00F9FF"),
        ("/darknet.mp4", "#ff073a"),
        ("/diamondrop.mp4", "#37ff6a"),
        ("/eightytown.mp4", "#FF00DE"),
        ("/glassladder.mp4", "#FF00DE"),
        ("/milkcave.mp4", "#FF00DE"),
        ("/okkk.mp4", "#FF00DE"),
        ("/pinkvinyl.mp4", "#FF00DE"),
        ("/rebalance.mp4", "#FF00DE"),
        ("/strt.mp4", "#FF00DE"),
        ("/glitchyghost.mp4", "#37ff6a")
    ];

    private string _videoUrl = "";
    private string _accentColor = "";
    private IBeamerHubMessage? _currentEntry;
    private string _fadingState = "fadeIn";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (BeamerHubMessage == null) return;
        _fadingState = "fadeOut";
        Task.Delay(600).ContinueWith(_ =>
        {
            _currentEntry = null;
            StateHasChanged();
        });
        Task.Delay(700).ContinueWith(_ =>
        {
            var x = new Random().Next(_visuals.Count);
            _videoUrl = (BackendOptions.Value.VideosBaseAddress ?? BackendOptions.Value.BaseAddress) + _visuals[x].url;
            _accentColor = _visuals[x].accentColor;
            _currentEntry = BeamerHubMessage;
            StateHasChanged();
        });
        Task.Delay(1200).ContinueWith(_ =>
        {
            _fadingState = "fadeIn";
            StateHasChanged();
        });
    }

}
