@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@using Sieve.Models
@inject ITournamentsService TournamentsService
@inject ILogger<BeamerTournamentsView> Logger

<div class="d-flex flex-column justify-center align-center" style="min-height: 100vh">
    <BeamerScreenViewHeader Main="Turnierübersicht"></BeamerScreenViewHeader>
    <div class="d-flex flex-column justify-center m-auto" style="min-width: 80vw; max-width: 80vw;">
        @foreach (var tournament in _tournaments)
        {
            <div class="item-background py-2 px-4 my-1" style="border-radius: 1rem">
                <div class="d-flex justify-between">
                    <div class="d-flex justify-start align-center" style="width: 43%">
                        <h2 class="text-truncate d-block mb-0 font-weight-light">
                            @tournament.Name
                        </h2>
                    </div>
                    <div class="d-flex justify-start align-center mb-0" style="width: 25%">
                        <div class="d-flex flex-column">
                            <h4 class="mb-0 w-100">
                                @if (tournament.Mode is TournamentMode.SingleElimination or TournamentMode.DoubleElimination)
                                {
                                    <span>
                                        @(tournament.PlayerPerTeam)v@(tournament.PlayerPerTeam)&middot;
                                    </span>
                                }
                                @tournament.Mode
                            </h4>
                            <div class="h6 mb-0 text-secondary text-uppercase">Spielmodus</div>
                        </div>
                    </div>
                    <div class="d-flex justify-start align-center mb-0" style="width: 20%">
                        <div class="d-flex flex-column">
                            <h4 class="mb-0 w-100">@tournament.Teams.Count</h4>
                            <div class="h6 mb-0 text-secondary text-uppercase">Teilnehmer*innen</div>
                        </div>
                    </div>
                    <div class="d-flex justify-end align-center" style="width: 12%">
                        <h4 class="text-truncate d-block mb-0 font-weight-light">
                            @switch (tournament.State)
                            {
                                case TournamentState.Running:
                                    <div class="text-success">
                                        Aktiv
                                    </div>
                                    break;
                                case TournamentState.Finished:
                                    <div>
                                        Beendet
                                    </div>
                                    break;
                                case TournamentState.Planning:
                                    <div>
                                        Geplant
                                    </div>
                                    break;
                                case TournamentState.Closed:
                                    <div>
                                        Geschlossen
                                    </div>
                                    break;
                                case TournamentState.OpenForRegistration:
                                    <div>
                                        <span class="small">Registrierung</span>
                                    </div>
                                    break;
                            }
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private IList<TournamentResponse> _tournaments = [];

    [Parameter]
    [EditorRequired]
    public TournamentBeamerHubMessage TournamentBeamerHubMessage { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string AccentColor { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        if(TournamentBeamerHubMessage.TournamentIds.Count == 0)
        {
            Logger.LogWarning("No tournament ids provided for BeamerTournamentsView, seems that no tournaments are planned yet.");
            return;
        }
        _tournaments = await TournamentsService.GetAllAsync(new SieveModel { Filters = $"Id=={string.Join("|", TournamentBeamerHubMessage.TournamentIds)}" });
        await base.OnParametersSetAsync();
    }

}
