@code {
    [Parameter]
    public string Main { get; set; } = string.Empty;

    [Parameter]
    public string Small { get; set; } = string.Empty;
}

<div class="d-flex justify-center mb-4">
    <div class="header-container card-wrapper item-background">
        <MudText Typo="Typo.h3" Class="mb-0 font-weight-light">@Main
            @if(Small != string.Empty)
            {
                <small>&middot; @Small</small>
            }
        </MudText>
    </div>
</div>
