﻿@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@inject ITournamentsService TournamentsService

<BeamerScreenViewHeader Main="@_tournament?.Name" Small="Matchergebnis"></BeamerScreenViewHeader>

@if (_tournament is not null && _match is not null)
{
    @if (ShowInitialScreen)
    {
        <div class="@(ShowInitialScreen ? "" : "initial-screen-out-animation")">
            @if (_match.Scores.Count == 2)
            {
                <div class="d-flex flex-column justify-center align-center flex-grow-1">
                    <div class="team-left-position absolute d-flex justify-center two-player-left">
                        <div class="team-card-two-players item-background d-flex flex-shrink-1 pa-3" style="border-radius: 1rem; min-height: 10vh;">
                            <MudText Typo="Typo.h2" Class="mb-0 text-truncate text-center" Style="width: 100%">@_match.Scores[0].TournamentTeam.GetTeamName()</MudText>
                        </div>
                    </div>
                    <div class="versus absolute display-3 d-flex flex-column justify-center @VersusHighlightAnimation">
                        VS
                    </div>
                    <div class="team-right-position absolute d-flex justify-center two-player-right">
                        <div class="team-card-two-players item-background d-flex flex-shrink-1 pa-3" style="border-radius: 1rem; min-height: 10vh;">
                            <MudText Typo="Typo.h2" Class="mb-0 text-truncate text-center" Style="width: 100%">@_match.Scores[1].TournamentTeam.GetTeamName()</MudText>
                        </div>
                    </div>
                </div>
            }

            else if (_match.Scores.Count > 2)
            {
                <div class="d-flex flex-column justify-content-center align-center flex-grow-1 bg-success">
                    <div class="team-top-left-position absolute d-flex justify-start four-player-top-left">
                        <div class="team-card-four-players item-background d-flex flex-shrink-1 pa-3" style="border-radius: 1rem; min-height: 10vh;">
                            <MudText Typo="Typo.h2" Class="mb-0 text-truncate text-center" Style="width: 100%">@_match.Scores[0].TournamentTeam.GetTeamName()</MudText>
                        </div>
                    </div>
                    <div class="team-top-right-position absolute d-flex justify-end four-player-top-right">
                        @if (_match.Scores.Count >= 3)
                        {
                            <div class="team-card-four-players item-background d-flex flex-shrink-1 pa-3" style="border-radius: 1rem;">
                                <MudText Typo="Typo.h2" Class="mb-0 text-truncate text-center" Style="width: 100%">@_match.Scores[2].TournamentTeam.GetTeamName()</MudText>
                            </div>
                        }
                    </div>
                    <div class="versus absolute display-3 d-flex flex-column justify-start @VersusHighlightAnimation">
                        VS
                    </div>
                    <div class="team-bottom-left-position absolute d-flex justify-start four-player-bottom-left">
                        @if (_match.Scores.Count >= 4)
                        {
                            <div class="team-card-four-players item-background d-flex flex-shrink-1 pa-3" style="border-radius: 1rem;">
                                <MudText Typo="Typo.h2" Class="mb-0 text-truncate text-center" Style="width: 100%">@_match.Scores[3].TournamentTeam.GetTeamName()</MudText>
                            </div>
                        }
                    </div>
                    <div class="team-bottom-right-position absolute d-flex justify-end four-player-bottom-right">
                        <div class="team-card-four-players item-background d-flex flex-shrink-1 pa-3" style="border-radius: 1rem;">
                            <MudText Typo="Typo.h2" Class="mb-0 text-truncate text-center" Style="width: 100%">@_match.Scores[1].TournamentTeam.GetTeamName()</MudText>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @if (ShowWinnerScreen)
    {
        <div class="winner-screen-container" style="@BoxShadowProperty">
            <div class="item-background" style="width: 100%">
                @if (ShowWinnerScreenText)
                {
                    <div class="text-center absolute winner-screen-text @(ShowResult ? "winner-screen-text-smaller" : "")" style="width: 100%">
                        <h2>Gewonnen hat</h2>
                    </div>
                    <div class="winner-name absolute font-weight-light text-center px-2 @(ShowResult ? "winner-name-smaller" : "")" style="@(TextShadowProperty + "; width: 100%;")">
                        <h1>@Winner.TournamentTeam.GetTeamName()</h1>
                    </div>
                    @if (ShowResult)
                    {
                        <div class="d-flex px-4 pb-2 mb-2 flex-column absolute justify-center overflow-hidden show-results">
                            <MudText Typo="Typo.h3" Class="text-center text-truncate py-3">@Winner.TournamentTeam.GetTeamName() &middot; @Winner.Score</MudText>
                            @foreach (var loser in Losers)
                            {
                                <MudText Typo="Typo.h5" Class="text-center text-truncate py-1">@loser.TournamentTeam.GetTeamName() &middot; @loser.Score</MudText>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
}

@code {
    private TournamentResponse? _tournament;
    private TournamentMatchResponse? _match;

    [Parameter]
    [EditorRequired]
    public TournamentMatchResultBeamerHubMessage BeamerHubMessage { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string AccentColor { get; set; } = null!;

    public string TextShadowProperty { get; set; } = string.Empty;
    public string BoxShadowProperty { get; set; } = string.Empty;

    public TournamentMatchScoreResponse Winner { get; set; }
    public List<TournamentMatchScoreResponse> Losers { get; set; }

    public bool ShowInitialScreen { get; set; } = false;
    public string VersusHighlightAnimation = "";
    public bool ShowWinnerScreen { get; set; } = false;
    public bool ShowWinnerScreenText { get; set; } = false;
    public bool ShowWinnerName { get; set; } = false;
    public bool ShowResult { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        _tournament = await TournamentsService.GetAsync(BeamerHubMessage.TournamentId);
        _match = _tournament
            .Rounds
            .SelectMany(r => r.Matches)
            .Single(m => m.Id == BeamerHubMessage.TournamentMatchId);

        if (_match!.Scores.Count == 2)
        {
            if (_match.Scores[0].Score > _match.Scores[1].Score)
            {
                Winner = _match.Scores[0];
                Losers = new List<TournamentMatchScoreResponse> { _match.Scores[1] };
            }
            else
            {
                Winner = _match.Scores[1];
                Losers = [_match.Scores[0]];
            }
        }
        else
        {
            Winner = _match.Scores[0];
            foreach (var team in _match.Scores)
            {
                if (Winner.Score < team.Score)
                {
                    Winner = team;
                }
            }

            Losers = _match.Scores
                .Where(t => t.TournamentTeam!.Id != Winner.TournamentTeam!.Id)
                .OrderByDescending(t => t.Score)
                .ToList();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        TextShadowProperty = $"text-shadow: 0 0 10px #FFFFFF,0 0 20px #FFFFFF,0 0 30px #FFFFFF,0 0 40px {AccentColor},0 0 70px {AccentColor}";
        BoxShadowProperty = $"box-shadow: 0 0 2px #FFFFFF, 0 0 5px {AccentColor}";

        StateHasChanged();

        Task.Delay(1000).ContinueWith(_ =>
        {
            ShowInitialScreen = true;
            StateHasChanged();
        });
        Task.Delay(2500).ContinueWith(_ =>
        {
            VersusHighlightAnimation = "versus-highlight";
            StateHasChanged();
        });
        Task.Delay(10000).ContinueWith(_ =>
        {
            ShowWinnerScreen = true;
            ShowInitialScreen = false;
            StateHasChanged();
        });
        Task.Delay(11200).ContinueWith(_ =>
        {
            ShowWinnerScreenText = true;
            ShowWinnerName = true;
            StateHasChanged();
        });
        Task.Delay(18000).ContinueWith(_ =>
        {
            ShowResult = true;
            StateHasChanged();
        });
    }

}
