@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Signalr.BeamerHubMessages
@inject ITournamentsService TournamentsService

@if (_tournament is not null)
{
    <div class="d-flex flex-column justify-center align-center" style="min-height: 100vh">
        <BeamerScreenViewHeader Main="@_tournament.Name" Small="@(_showUpcomingMatches ? "Anstehende Matches" : "Abgeschlossene Matches")"></BeamerScreenViewHeader>
        <div class="d-flex flex-column justify-center m-auto" style="min-width: 80vw; max-width: 80vw;">
            @foreach (var match in _matches)
            {
                @if (match.Scores.Count == 2)
                {
                    <div class="item-background mb-3 py-2 px-5" style="border-radius: 1rem">
                        <div class="d-flex justify-around">
                            <div class="d-flex justify-center align-center" style="width: 40%">
                                <h2 class="text-truncate d-block mb-0 font-weight-light">
                                    @(match.Scores[0].TournamentTeam.IsSinglePersonTeam() ? match.Scores[0].TournamentTeam?.Members[0].Member.Nickname : match.Scores[0].TournamentTeam?.Name)
                                </h2>
                            </div>
                            <h3 class="d-flex justify-end align-center mb-0"
                                 style="width: 7.5%">
                                @(match.IsFinished() ? match.Scores[0].Score : "")
                            </h3>
                            <h3 class="d-flex justify-center align-center" style="width: 5%">:</h3>
                            <h3 class="d-flex justify-start align-center mb-0"
                                 style="width: 7.5%">
                                @(match.IsFinished() ? match.Scores[1].Score : "")
                            </h3>
                            <div class="d-flex justify-center align-center" style="width: 40%">
                                <h2 class="text-truncate d-block mb-0 font-weight-light">
                                    @(match.Scores[1].TournamentTeam.IsSinglePersonTeam() ? match.Scores[1].TournamentTeam?.Members[0].Member.Nickname : match.Scores[1].TournamentTeam?.Name)
                                </h2>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private List<TournamentMatchResponse> _matches = [];
    private TournamentResponse? _tournament = null!;
    private bool _showUpcomingMatches;

    [Parameter]
    [EditorRequired]
    public IBeamerHubMessage BeamerHubMessage { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string AccentColor { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (BeamerHubMessage is UpcomingMatchesBeamerHubMessage umbhm)
        {
            _showUpcomingMatches = true;
            _tournament = await TournamentsService.GetAsync(umbhm.TournamentId);
            _matches = _tournament
                .Rounds
                .SelectMany(r => r.Matches)
                .Where(m => m.IsScoreable())
                .ToList();
        }
        else if (BeamerHubMessage is FinishedMatchesBeamerHubMessage fmbhm)
        {
            _showUpcomingMatches = false;
            _tournament = await TournamentsService.GetAsync(fmbhm.TournamentId);
            _matches = _tournament
                .Rounds
                .SelectMany(r => r.Matches)
                .Where(m => m.IsFinished())
                .Where(m => m.Scores.All(ms => !ms.TournamentTeam.IsByeTeam()))
                .ToList();
        }
    }

}
