@inject ISnackbar Snackbar
@using Clanwars.TournamentManager.Lib.Messages.UserStore
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using System.Net
@inherits OwningComponentBase<IUserStoreService>

<EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Email" Class="my-3"
                          @bind-Value="_model.Email" For="@(() => _model.Email)"/>
            <MudTextField Label="First name" Class="my-3"
                          @bind-Value="_model.FirstName" For="@(() => _model.FirstName)"/>
            <MudTextField Label="Last name" Class="my-3"
                          @bind-Value="_model.LastName" For="@(() => _model.LastName)"/>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create account</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {

    [Parameter][EditorRequired] public UserStoreResponse User { get; set; } = null!;

    [Parameter]
    public EventCallback<UserStoreResponse> OnUserCreated { get; set; }

    readonly RegisterAccountForm _model = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _model.Email = User.Email;
        _model.FirstName = User.FirstName;
        _model.LastName = User.LastName;
    }

    public class RegisterAccountForm
    {
        [Required][StringLength(32)][NotNull] public string? FirstName { get; set; }

        [Required][StringLength(32)][NotNull] public string? LastName { get; set; }

        [Required][EmailAddress] public string Email { get; set; } = null!;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        try
        {
            var user = await Service.Create(_model.Email, _model.FirstName, _model.LastName);
            Snackbar.Add($"Created new user \"{_model.FirstName}.{_model.LastName}\"", Severity.Success);
            await OnUserCreated.InvokeAsync(user);
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.Conflict)
        {
            Snackbar.Add($"Already registered user with username \"{_model.FirstName}.{_model.LastName}\" or email address \"{_model.Email}\"", Severity.Error, options => options.VisibleStateDuration = 7000);
        }
    }

}
