﻿@page "/admintools"

<PageTitle>Administration Tools</PageTitle>

<MudAlert Severity="Severity.Error" Class="my-3">
    Only use this page if you are <strong>absolutely</strong> sure of what you are doing!
</MudAlert>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="User Import">
        <UserImport/>
    </MudTabPanel>
</MudTabs>

@code {
    
}
