﻿@page "/clans"

@inject IDialogService DialogService
@inject IEventsService EventsService
@inject INotificationsService NotificationsService
@inject IClansService ClansService
@inject ICurrentUserService CurrentUserService;
@using Clanwars.TournamentManager.Lib.Messages.Clans
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.User
@using Clanwars.TournamentManager.Lib.Enums
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@implements IDisposable


<PageTitle>Clans</PageTitle>

@if (_clans != null && _currentUser != null)
{
    <div class="my-5">
        @if (_clans.SelectMany(c => c.Members).All(cu => cu.UserId != _currentUser!.Id))
        {
            <MudPaper Elevation="3" Class="my-5 pa-3 d-flex align-center animate spin">
                <div>
                    <img alt="Picture of cool team members" height="130px" src="assets/undraws/undraw_good_team_re_j1kc.svg"/>
                </div>
                <div class="pl-10">
                    <h3>You're not member of a Clan :(</h3><br/><MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="CreateClan">Create a new Clan</MudButton>
                </div>
            </MudPaper>
        }

        @if (_clans.SelectMany(c => c.Members).FirstOrDefault(cu => cu.UserId == _currentUser!.Id && cu.Permission == EntityPermission.Pending) is {} clanUser)
        {
            <MudPaper Elevation="3" Class="my-5 pa-3 d-flex align-center animate spin">
                <div>
                    <img alt="Picture of cool team members" height="130px" src="assets/undraws/undraw_good_team_re_j1kc.svg"/>
                </div>
                <div class="pl-10">
                    <h3>You're waiting to be approved to join the clan @clanUser.User.Clan?.Name. Ask your clan Owner to get you approved!</h3>
                    <div class="my-4 d-flex align-center">
                        Changed your mind? No Problem .. but we will miss you. <MudButton Class="ml-2" Color="Color.Primary" OnClick="async () => await LeaveClan(clanUser.User.Clan!, clanUser)" StartIcon="@Icons.Material.Rounded.HeartBroken" Size="Size.Small" aria-label="Cancel Request">Cancel Request</MudButton>
                    </div>
                </div>
            </MudPaper>
        }

        @if (_currentUser is {Clan: not null } && _clans.Count(c => c.IsClanOwner(_currentUser!) && c.HasPendingJoins()) > 0)
        {
            <MudPaper Elevation="4" Class="my-5 pa-3 d-flex align-center animate spin">
                <div>
                    <img alt="Picture of joining team members" height="130px" src="assets/undraws/undraw_skateboard_d6or.svg"/>
                </div>
                <div class="pl-10">
                    <h3>There are users which want to join your Clan <i>@_currentUser.Clan.Name</i></h3>
                    @foreach (var user in _currentUser.Clan.Members.Where(m => m.Permission == EntityPermission.Pending))
                    {
                        <div class="my-4 d-flex align-center">
                            <div class="flex-grow-1">
                                <UserDisplay User="user.User"></UserDisplay>
                            </div>
                            <div class="d-flex">
                                <MudButton Class="mr-2" Variant="Variant.Outlined" Color="Color.Primary" OnClick="async () => await AcceptClanMemberAsync(_currentUser.Clan, user)" StartIcon="@Icons.Material.Filled.Check" Size="Size.Small">Accept</MudButton>
                                <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="async () => await RejectClanMemberAsync(_currentUser.Clan, user)" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small">Reject</MudButton>
                            </div>
                        </div>
                    }
                </div>
            </MudPaper>
        }

        <div class="d-flex justify-end mb-3">
            <MudSwitch @bind-Value="@FilterForCurrentClans" Color="Color.Secondary" Label="only participating Clans"/>
        </div>
        <MudDivider></MudDivider>

        <MudTable Items="@_visibleClans" Breakpoint="Breakpoint.Sm" Virtualize="true" FixedHeader="true" Height="90vh" Elevation="0" Style="background: none">
            <RowTemplate>
                <MudTd DataLabel="Tag" Class="" Style="border-bottom-width: 0">
                    <MudText Typo="Typo.h4">@context.ClanTag</MudText>
                    <MudText Typo="Typo.caption">Tag</MudText>
                </MudTd>
                <MudTd DataLabel="Name" Style="border-bottom-width: 0">
                    <MudText Typo="Typo.h4">@context.Name</MudText>
                    <MudText Typo="Typo.caption">Name</MudText>
                </MudTd>
                <MudTd DataLabel="Members" Style="border-bottom-width: 0">
                    <MudText Typo="Typo.h4">@context.Members.Count(m => m.Permission != EntityPermission.Pending)</MudText>
                    <MudText Typo="Typo.caption">Members</MudText>
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                <MudTr>
                    <td colspan="3" class="mud-table-cell">
                        <MudGrid Spacing="2" Justify="Justify.FlexStart">
                            @foreach (var member in context.Members.Where(m => m.Permission != EntityPermission.Pending).OrderBy(m => m.User.Nickname))
                            {
                                <MudItem lg="4" md="6" xs="12">
                                    <MudPaper Elevation="3">
                                        <MudPaper Class="pa-2 d-flex justify-space-between align-center" Elevation="0">
                                            <UserDisplay User="member.User"></UserDisplay>
                                            <div class="d-flex align-center">
                                                @if (member.Permission == EntityPermission.Owner)
                                                {
                                                    <MudIcon Icon="@Icons.Material.Filled.FaceRetouchingNatural" Color="Color.Warning" Class="mr-3" title="Owner"></MudIcon>
                                                }
                                            </div>
                                        </MudPaper>
                                        @if (member.UserId == _currentUser.Id || context.IsClanOwner(_currentUser))
                                        {
                                            <MudDivider></MudDivider>
                                            <MudPaper Elevation="0" Class="d-flex justify-end">

                                                @if (member.Permission == EntityPermission.Member && context.IsClanOwner(_currentUser))
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Filled.FaceRetouchingNatural" Color="Color.Error" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Make person to owner" OnClick="async () => await MakeClanMemberToOwner(context, member)"></MudIconButton>
                                                }
                                                @if (member.UserId != _currentUser.Id && context.IsClanOwner(_currentUser))
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Filled.PersonOff" Color="Color.Error" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Remove person from Clan" OnClick="async () => await RemoveClanMemberFromClan(context, member)"></MudIconButton>
                                                }
                                                @if (member.UserId == _currentUser.Id)
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Color="Color.Primary" Class="ma-2" Variant="Variant.Text" Size="Size.Small" title="Leave Clan" OnClick="async () => await LeaveClan(context, member)"></MudIconButton>
                                                }
                                            </MudPaper>
                                        }
                                    </MudPaper>
                                </MudItem>
                            }
                        </MudGrid>
                        @if (_clans.SelectMany(c => c.Members).All(cu => cu.UserId != _currentUser.Id))
                        {
                            <div class="mt-5">
                                <MudButton Color="Color.Primary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.FactCheck" Size="Size.Small" OnClick="async () => await JoinClanAsync(context)">Join Clan</MudButton>
                            </div>
                        }
                    </td>
                </MudTr>
            </ChildRowContent>
        </MudTable>

    </div>
}

@code {
    private IList<ClanResponse>? _clans;
    private IList<ClanResponse>? _visibleClans;

    private EventResponse? _currentEvent;
    private UserResponse? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _currentEvent = await EventsService.CurrentEventAsync();
        _currentUser = await CurrentUserService.GetCurrentUser();

        await LoadDataAsync();

        NotificationsService.ClansChanged += HandleClansChangedAsync;
    }

    private async Task HandleClansChangedAsync(object? sender, ClanHubMessage e)
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        _currentUser = await CurrentUserService.GetCurrentUser();
        _clans = await ClansService.GetClansAsync();
        _visibleClans = _clans;
        if (FilterForCurrentClans)
        {
            _visibleClans = _visibleClans.Where(c => c.Members.Any(m => m.User.Events.Count(e => e.Id == _currentEvent!.Id) > 0)).ToList();
        }
        StateHasChanged();
    }

    private async Task CreateClan()
    {
        var parameters = new DialogParameters {["Owner"] = _currentUser};

        var dialog = await DialogService.ShowAsync<ClanCreateDialog>("Create Clan", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await LoadDataAsync();
        }
    }

    private async Task AcceptClanMemberAsync(ClanResponse clan, UserPermissionResponse clanUser)
    {
        await ClansService.ApproveJoinAsync(clan.Id, clanUser.UserId);
        await LoadDataAsync();
    }

    private async Task RejectClanMemberAsync(ClanResponse clan, UserPermissionResponse clanUser)
    {
        await ClansService.RemoveUserFromClanAsync(clan.Id, clanUser.UserId);
        await LoadDataAsync();
    }

    private async Task MakeClanMemberToOwner(ClanResponse clan, UserPermissionResponse clanUser)
    {
        if (!clan.IsClanOwner(_currentUser!))
        {
            return;
        }

        if (clanUser.User.IsIncompleteProfile)
        {
            await DialogService.ShowMessageBox("Error", "You cannot make an incomplete user a clan owner!");
            return;
        }

        var result = await DialogService.ShowMessageBox(
            "Promote User",
            $"Do you really want to make {clanUser.User.Nickname} to an Owner of this Clan?",
            yesText: "Yes, promote him!", cancelText: "Cancel");
        if (result == true)
        {
            await ClansService.GrantOwnershipAsync(clan.Id, clanUser.UserId);
            await LoadDataAsync();
        }
    }


    private async Task RemoveClanMemberFromClan(ClanResponse clan, UserPermissionResponse member)
    {
        if (!clan.IsClanOwner(_currentUser!))
        {
            return;
        }

        var result = await DialogService.ShowMessageBox(
            "Remove User",
            $"Do you really want to remove {member.User.Nickname} from this Clan?",
            yesText: "Yes, kick him!", cancelText: "Cancel");
        if (result == true)
        {
            await ClansService.RemoveUserFromClanAsync(clan.Id, member.UserId);
            await LoadDataAsync();
        }
    }

    private async Task LeaveClan(ClanResponse clan, UserPermissionResponse member)
    {
        if (clan.Members.Count == 1)
        {
            var resultDeleteClan = await DialogService.ShowMessageBox(
                "Delete Clan",
                $"You are the last member of the clan {clan.Name}. Leaving the Clan will also delete the clan itself.",
                yesText: "Okay, Delete Clan!", cancelText: "Cancel");
            if (resultDeleteClan != true) return;
            await ClansService.LeaveClanAsync(clan.Id);
            await LoadDataAsync();
            return;
        }

        if (clan.Members.Count(m => m.Permission == EntityPermission.Owner && m.UserId != member.UserId) == 0)
        {
            await DialogService.ShowMessageBox(
                "Error",
                $"You cannot leave the clan {clan.Name} because there are other members in this clan but you are the last remaining Owner! Either promote another member to be a new Owner or first remove all other members from the clan and leave the clan afterwards.",
                yesText: "Okay, sorry");
            return;
        }

        var resultLeaveClan = await DialogService.ShowMessageBox(
            "Leave Clan",
            $"Do you really want to leave the clan {clan.Name}?",
            yesText: "Yes, leave!", cancelText: "Cancel");
        if (resultLeaveClan == true)
        {
            await ClansService.LeaveClanAsync(clan.Id);
            await LoadDataAsync();
        }
    }

    private async Task JoinClanAsync(ClanResponse clan)
    {
        var resultJoinClan = await DialogService.ShowMessageBox(
            "Join Clan",
            $"Do you want to join the clan {clan.Name}? One of the Owners of the Clan has to approve you!",
            yesText: "Join Clan!", cancelText: "Cancel");
        if (resultJoinClan == true)
        {
            await ClansService.JoinClanAsync(clan.Id);
            await LoadDataAsync();
        }
    }

    private bool _filterForCurrentClans;

    private bool FilterForCurrentClans
    {
        get => _filterForCurrentClans;
        set
        {
            _filterForCurrentClans = value;
#pragma warning disable CS4014
            LoadDataAsync();
#pragma warning restore CS4014
        }
    }

    public void Dispose()
    {
        NotificationsService.ClansChanged -= HandleClansChangedAsync;
    }

}
