﻿@page "/dashboard"
@inject IEventsService EventsService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject ITournamentsService TournamentService
@inject INotificationsService NotificationsService
@inject INewsService NewsService
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Messages.News
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Sieve.Models
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using Clanwars.TournamentManager.Frontend.Shared.Components.News
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@implements IDisposable

<PageTitle>Dashboard</PageTitle>

<div class="d-flex flex-grow-1">
    <div class="flex-1">
        <MudGrid Class="pt-6">
            <MudItem xs="12" sm="6" md="6">
                <MudCard Elevation="2" Class="pa-4 animate flip">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@_currentEvent?.Name</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudSimpleTable Dense="true" Elevation="0" Hover="true">
                            <tbody>
                            <tr>
                                <td>Start:</td>
                                <td>@_currentEvent?.StartDate</td>
                            </tr>
                            <tr>
                                <td>Ende:</td>
                                <td>@_currentEvent?.EndDate</td>
                            </tr>
                            <tr>
                                <td>Registrierungen:</td>
                                <td>@_currentEvent?.ParticipantsCount</td>
                            </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudCard Elevation="2" Class="pa-4 pointer animate flip" @onclick="@(() => NavigationManager.NavigateTo("tournaments"))" Style="height: 100%;">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Turniere</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudSimpleTable Dense="true" Elevation="0">
                            <tbody>
                            <tr>
                                <td>Planned:</td>
                                <td>@_currentTournaments?.Count</td>
                            </tr>
                            <tr>
                                <td>Started:</td>
                                <td>
                                    @_currentTournaments?.Count(t => t.State == TournamentState.Running)
                                </td>
                            </tr>
                            <tr>
                                <td>Finished:</td>
                                <td>
                                    @_currentTournaments?.Count(t => t.State == TournamentState.Finished)
                                </td>
                            </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <div class="pt-6 pb-5 d-flex justify-space-between">
                    <h2>
                        News
                    </h2>
                    <AuthorizeView Roles="tournament-moderator">
                        <div>
                            <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" OnClick="async () => await OpenCreateNewsDialog()">Add News</MudButton>
                        </div>
                    </AuthorizeView>
                </div>
            </MudItem>
            @if (_latestNews is {TotalCount: > 0})
            {
                <MudItem xs="12" sm="6" Class="animate flip">
                    <MudPaper Elevation="2" Class="px-4 pb-6" Style="height: 100%;">
                        <NewsDisplay News="@_latestNews.Results.First()"></NewsDisplay>
                    </MudPaper>
                </MudItem>
                {
                    var nextNews = _latestNews.Results.Skip(1).ToList();
                    if (nextNews.Any())
                    {
                        <MudItem xs="12" sm="6">
                            <MudGrid>
                                @foreach (var next in nextNews.Select((x, i) => new {news = x, index = i}))
                                {
                                    <MudItem xs="12" Class="@($"animate flip delay-{(next.index + 1) * 2}")">
                                        <MudPaper Elevation="2" Class="pa-4" Style="min-height: 200px;">
                                            <NewsDisplay News="next.news"></NewsDisplay>
                                        </MudPaper>
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudItem>
                    }
                }
            }
            else if (_latestNews is {TotalCount:0})
            {
                <MudItem xs="12">
                    <div class="py-6 d-flex flex-column align-center">
                        <img src="assets/undraws/undraw_popular_re_mlfe.svg" alt="Image showing an empty news list" style="padding-bottom: 20px; width: 20%;"/>
                        <MudText Typo="Typo.subtitle1">No news here at the moment.</MudText>
                    </div>
                </MudItem>
            }
        </MudGrid>
    </div>
    <Shoutbox Class="flex-none ml-4 animate slide delay-5" Style="width: 290px; height: calc(100vh - var(--mud-appbar-height) - 100px); margin-right: -16px !important;" Elevation="2"></Shoutbox>
</div>

@code
{
    private EventResponse? _currentEvent;
    private IList<TournamentResponse>? _currentTournaments;

    private IPagedResult<NewsResponse>? _latestNews;

    protected override async Task OnInitializedAsync()
    {
        _currentEvent = await EventsService.CurrentEventAsync();
        await RefreshNews();
        await RefreshTournaments();
        NotificationsService.NewsChanged += HandleNewsChangedAsync;
        NotificationsService.TournamentsChanged += HandleTournamentsChangedAsync;
        await base.OnInitializedAsync();
    }

    private async Task RefreshNews()
    {
        var result = await NewsService.GetAsync(new SieveModel {PageSize = 3, Sorts = $"-{nameof(NewsResponse.CreatedAt)}"});
        _latestNews = new PagedResult<NewsResponse>();
        StateHasChanged();
        _latestNews = result;
    }

    private async Task RefreshTournaments()
    {
        _currentTournaments = await TournamentService.GetAllAsync(new SieveModel {Filters = $"eventId=={_currentEvent!.Id}"});
    }

    private async Task OpenCreateNewsDialog()
    {
        var dialog = await DialogService.ShowAsync<NewsCreateDialog>("Create News", new DialogOptions {BackdropClick = false, FullScreen = true});
        var result = await dialog.Result;

        if (!result.Canceled)
        {
        }
    }

    private async Task HandleNewsChangedAsync(object? sender, NewsHubMessage e)
    {
        await RefreshNews();
        StateHasChanged();
    }

    private async Task HandleTournamentsChangedAsync(object arg1, TournamentHubMessage arg2)
    {
        await RefreshTournaments();
        StateHasChanged();
    }

    public void Dispose()
    {
        NotificationsService.NewsChanged -= HandleNewsChangedAsync;
        NotificationsService.TournamentsChanged -= HandleTournamentsChangedAsync;
    }
}
