@page "/users/me/payments"
@using Clanwars.PaymentSystem.Lib.Messages.Account
@using Clanwars.PaymentSystem.Lib.Messages.Transaction
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Sieve.Models
@using Clanwars.PaymentSystem.Lib.Enums

@inject IPaymentSystemService PaymentSystemService
@inject IEventsService EventsService

<PageTitle>My payments</PageTitle>

@if (_currentEvent == null || _transactions == null)
{
}
else if (_paymentAccount is null)
{
    <div style="height: 50vh;" class="py-6 d-flex flex-column align-center justify-center">
        <img src="assets/undraws/undraw_credit_card_re_blml.svg" alt="Image showing an non existant credit card" style="padding-bottom: 20px; width: 25%;"/>
        <MudText Typo="Typo.subtitle1">You dont have an account yet.</MudText>
    </div>
}
else
{
    <MudGrid Spacing="4" Class="mt-6">
        <MudItem xs="12">
            <MudText Typo="Typo.h4">Payments</MudText>
            <MudDivider DividerType="DividerType.Middle" Class="mt-5"/>
        </MudItem>
        <MudItem cs="6" md="8" xl="9">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Transactions</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudTable Items="@_transactions.Results" Dense="true" Hover="true" OnRowClick="RowClickEvent" T="TransactionResponse">
                    <RowTemplate>
                        <MudTd DataLabel="@nameof(TransactionResponse.Timestamp)">@context.Timestamp</MudTd>
                        <MudTd DataLabel="@nameof(TransactionResponse.Sum)" Style="text-align:right">@(context.TransactionType == TransactionType.PurchaseTransaction ? "-" : "")@Math.Round(context.Sum, 2).ToString("C")</MudTd>
                    </RowTemplate>
                    <ChildRowContent>
                        @if (_openedTransactions.ContainsKey(context.Id) && _openedTransactions[context.Id])
                        {
                            <MudTr>
                                <td colspan="2" class="mb-4 border-b-2">
                                    <MudTable Items="@context.Entries" Context="TransactionContext" Hover="true" Elevation="0">
                                        <ColGroup>
                                            <col/>
                                            <col style="width:200px;text-align:right"/>
                                        </ColGroup>
                                        <HeaderContent>
                                            <MudTh>Product</MudTh>
                                            <MudTh>Price</MudTh>
                                        </HeaderContent>
                                        <RowTemplate>
                                            <MudTd DataLabel="@nameof(PurchaseTransactionEntryResponse.Product)">@TransactionContext.Product.Name</MudTd>
                                            <MudTd DataLabel="@nameof(PurchaseTransactionEntryResponse.Price)">@TransactionContext.Price.ToString("C")</MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                </td>
                            </MudTr>
                        }
                    </ChildRowContent>
                </MudTable>
            </MudCard>
        </MudItem>
        <MudItem xs="6" md="4" xl="3">
            <MudCard>
                <MudCardHeader >
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@(_currentEvent.Name) Card</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudSimpleTable Bordered="false">
                    <tbody>
                    <tr>
                        <td>Guthaben:</td>
                        <td>@_paymentAccount.Balance.ToString("C")</td>
                    </tr>
                    </tbody>
                </MudSimpleTable>
            </MudCard>
        </MudItem>
    </MudGrid>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _paymentAccount = await PaymentSystemService.GetMyAccount();
        _currentEvent = await EventsService.CurrentEventAsync();
        _openedTransactions = new Dictionary<Guid, bool>();
        _transactions = await PaymentSystemService.GetTransactionsAsync(new SieveModel {Page = 1, PageSize = 20, Sorts = "-timestamp"});
    }

    private AccountInfo? _paymentAccount;
    private EventResponse? _currentEvent;
    private IPagedResult<TransactionResponse>? _transactions;
    private Dictionary<Guid, bool> _openedTransactions = new();

    private void RowClickEvent(TableRowClickEventArgs<TransactionResponse> tableRowClickEventArgs)
    {
        foreach (var keyValuePair in _openedTransactions)
        {
            _openedTransactions[keyValuePair.Key] = false;
        }
        _openedTransactions[tableRowClickEventArgs.Item.Id] = true;
    }

}
