.editor-type-selector ::deep >*:hover {
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #ffd582;
    border:1px;
}

.editor-type-selector ::deep >.editor-type-selected {
    border-radius: 4px;
    box-shadow: 0 0 4px 2px #FCC741FF;
    border:1px;
}
