﻿@page "/tournaments"

@inject IDialogService DialogService
@inject ITournamentsService TournamentService
@inject IEventsService EventsService
@inject INotificationsService NotificationsService
@inject NavigationManager NavigationManager
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Microsoft.Extensions.Options
@using Sieve.Models
@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Lib.Messages.Events
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@implements IDisposable
@inject IOptions<BackendOptions> BackendOptions


<PageTitle>Tournaments</PageTitle>

@if (_tournaments != null && _currentEvent != null)
{
    <AuthorizeView Roles="tournament-moderator">
        <Authorized>
            <MudToolBar>
                <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="async () => await CreateTournamentAsync()"/>
                <MudSpacer/>
                @* <MudIconButton Icon="@Icons.Material.Outlined.Notifications"/> *@
            </MudToolBar>
        </Authorized>
    </AuthorizeView>

    <MudStack Spacing="5" AlignItems="AlignItems.Stretch">
        @foreach (var tournament in _tournaments)
        {
            var imageUrl = tournament.ImageUrl != null ? BackendOptions.Value.BaseAddress + "/" + tournament.ImageUrl : null;
            <MudPaper Class="pointer animate flip" @onclick="() => NavigateToTournament(tournament.Id)">
                <MudCard>
                    <MudCardMedia Image="@imageUrl" Height="150"/>
                    <MudCardContent>
                        <MudText Typo="Typo.h4" Class="d-flex justify-space-between">
                            <div>@tournament.Name</div>
                            <AuthorizeView Roles="tournament-moderator">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(async _ => await DeletionConfirmationDialogAsync(tournament))"></MudIconButton>
                            </AuthorizeView>
                        </MudText>
                        <MudText Typo="Typo.h4" Class="d-flex">
                            <MudText class="pr-5">
                                <small>Mode</small><br/>@tournament.Mode
                            </MudText>
                            <MudText class="pr-5">
                                <small>Players per team</small><br/>@tournament.PlayerPerTeam
                            </MudText>
                            <MudText class="pr-5">
                                <small>Registered @(tournament.IsSingleplayer() ? "players" : "teams")</small><br/>@tournament.Teams.Count
                            </MudText>
                            <MudText class="pr-5">
                                <small>State</small><br/><TournamentStateView Tournament="tournament"></TournamentStateView>
                            </MudText>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        }
    </MudStack>
}

@code {
    private IList<TournamentResponse>? _tournaments;
    EventResponse? _currentEvent;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        NotificationsService.TournamentsChanged += HandleTournamentsChangedAsync;
        await base.OnInitializedAsync();
    }

    private async Task LoadData()
    {
        _currentEvent = await EventsService.CurrentEventAsync();
        if (_currentEvent != null)
        {
            _tournaments = await TournamentService.GetAllAsync(new SieveModel {Filters = $"eventId=={_currentEvent.Id}"});
        }
    }

    private async Task HandleTournamentsChangedAsync(object arg1, TournamentHubMessage tournamentHubMessage)
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task CreateTournamentAsync()
    {
        var dialog = await DialogService.ShowAsync<TournamentCreateDialog>("Create Tournament", new DialogOptions {FullWidth = true});
        await dialog.Result;
    }

    private async Task DeleteAsync(TournamentResponse tournament)
    {
        await TournamentService.DeleteAsync(tournament.Id);
    }

    private async Task DeletionConfirmationDialogAsync(TournamentResponse tournament)
    {
        var parameters = new DialogParameters {["tournament"] = tournament};

        var dialog = await DialogService.ShowAsync<TournamentDeleteDialog>("Delete Tournament", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await DeleteAsync((TournamentResponse) result.Data);
        }
    }

    public void Dispose()
    {
        NotificationsService.TournamentsChanged -= HandleTournamentsChangedAsync;
    }

    private void NavigateToTournament(int tournamentId)
    {
        NavigationManager.NavigateTo("tournaments/" + tournamentId);
    }

}
