﻿@page "/tournaments/{Id:int}/{activeTab?}"
@inject ITournamentsService TournamentService

@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject ICurrentUserService CurrentUserService
@inject INotificationsService NotificationsService
@using Clanwars.TournamentManager.Lib.Messages.Tournaments
@using Clanwars.TournamentManager.Lib.Messages.User
@using Microsoft.Extensions.Options
@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Lib.Enums.Tournaments
@using Clanwars.TournamentManager.Lib.Signalr.NotificationsHubMessages
@implements IDisposable
@inject IOptions<BackendOptions> BackendOptions

<PageTitle>@("Tournament: " + _tournament?.Name)</PageTitle>

@if (_tournament != null && _currentUser != null)
{
    var imageUrl = _tournament.ImageUrl != null ? BackendOptions.Value.BaseAddress + "/" + _tournament.ImageUrl : null;

    var headerStyle = $"height: 150px; background-image: url(\"{imageUrl}\"); background-size: cover; padding-top:73px";

    <MudPaper Class="my-4 animate slide" Style="@headerStyle" Elevation="3">
        <h1 class="py-3" style="background-color:rgba(0, 0, 0, 0.5); color: #f7f7f7">
            <AuthorizeView Roles="tournament-moderator">
                <NotAuthorized>
                    <span class="ml-10">
                        @_tournament.Name
                    </span>
                </NotAuthorized>
                <Authorized>
                    @switch (_nameEditorEnabled)
                    {
                        case false:
                            <span class="ml-10">
                                @_tournament.Name
                            </span>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Secondary" Size="Size.Small" title="Change tournament name" OnClick="EnableTournamentNameEdit"/>
                            <MudIconButton Icon="@Icons.Material.Filled.ImageSearch" Variant="Variant.Text" Color="Color.Secondary" Class="ml-4" Size="Size.Small" title="Change tournament image" OnClick="ChangeTournamentImageAsync"/>
                            break;
                        case true:
                            <div class="d-flex align-center ml-10">
                                <MudTextField Margin="Margin.Dense" Label="Name" @bind-Value="_nameEditorValue" Immediate="true" Variant="Variant.Filled" FullWidth="false" OnKeyUp="NameEditorKeyDown"></MudTextField>
                                <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Outlined" Color="Color.Secondary" Class="ml-4" Size="Size.Large" title="Save tournament name" OnClick="SaveNewTournamentNameAsync"/>
                            </div>
                            break;
                    }
                </Authorized>
            </AuthorizeView>
        </h1>
    </MudPaper>

    <MudTabs Elevation="2" Rounded="true" Centered="false" Color="Color.Dark" ActivePanelIndexChanged="ActiveTabChanged" @ref="MudTabs">
        <MudTabPanel Icon="@Icons.Material.Filled.Info" Text="Übersicht">
            <div class="d-flex flex-grow-1 gap-4 mt-4">
                <MudSimpleTable Class="flex-1 d-flex" Elevation="1">
                    <tbody>
                    <tr>
                        <td>Players per team</td>
                        <td>
                            <AuthorizeView Roles="tournament-moderator">
                                <Authorized>
                                    <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="@_tournament.PlayerPerTeam.ToString()" Color="Color.Primary" Variant="Variant.Filled" Dense="true" Size="Size.Small" Disabled="_tournament.State != TournamentState.Planning">
                                        @for (var i = 1; i < 13; i++)
                                        {
                                            var current = i;
                                            <MudMenuItem OnClick="async () => await SetPlayersPerTeam(current)">@current</MudMenuItem>
                                        }
                                    </MudMenu>
                                </Authorized>
                                <NotAuthorized>
                                    @_tournament.PlayerPerTeam
                                </NotAuthorized>
                            </AuthorizeView>
                        </td>
                    </tr>
                    <tr>
                        <td>Tournament mode</td>
                        <td>
                            <AuthorizeView Roles="tournament-moderator">
                                <Authorized>
                                    <MudMenu EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="@_tournament.Mode.ToString()" Color="Color.Primary" Variant="Variant.Filled" Dense="true" Size="Size.Small" Disabled="_tournament.State is not (TournamentState.Planning or TournamentState.OpenForRegistration)">
                                        <MudMenuItem OnClick="async () => await SetTournamentMode(TournamentMode.SingleElimination)">Single Elimination</MudMenuItem>
                                        <MudMenuItem OnClick="async () => await SetTournamentMode(TournamentMode.DoubleElimination)">Double Elimination</MudMenuItem>
                                        <MudMenuItem OnClick="async () => await SetTournamentMode(TournamentMode.Points)">Points</MudMenuItem>
                                    </MudMenu>
                                </Authorized>
                                <NotAuthorized>
                                    @_tournament.Mode
                                </NotAuthorized>
                            </AuthorizeView>
                        </td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>
                            <TournamentStateView Tournament="@_tournament"></TournamentStateView>
                        </td>
                    </tr>
                    </tbody>
                </MudSimpleTable>
                <MudSimpleTable Class="flex-1 d-flex" Elevation="1">
                    <tbody>
                    <tr>
                        <td>
                            @if (_tournament.PlayerPerTeam == 1)
                            {
                                <span>Registered players</span>
                            }
                            else
                            {
                                <span>Registered teams</span>
                            }
                        </td>
                        <td>@_tournament.Teams.Count(t => !t.IsByeTeam())</td>
                    </tr>
                    </tbody>
                </MudSimpleTable>
            </div>
            <div class="d-flex flex-grow-1 gap-4 mt-4">
                @if (_tournament.State == TournamentState.Running)
                {
                    <MudItem xs="12" md="6">
                        <MudText Typo="Typo.h6" GutterBottom="true">Anstehende Matches</MudText>
                        @foreach (var roundTypeGroup in _tournament.Rounds.GroupBy(trr => trr.Type)
                            .Where(grouping => grouping.SelectMany(trr => trr.Matches).Any(m => m.IsScoreable()))
                            )
                        {
                            <MudPaper Width="100%" Class="my-3">
                                <MudText Typo="Typo.subtitle1" Class="pa-3">@roundTypeGroup.Key</MudText>
                                @foreach (var match in roundTypeGroup.SelectMany(trr => trr.Matches).Where(m => m.IsScoreable()))
                                {
                                    <MudDivider/>
                                    <MudList T="TournamentTeamResponse">
                                        @foreach (var team in match.Scores.Select(s => s.TournamentTeam))
                                        {
                                            <MudListItem>
                                                @if (team.IsSinglePersonTeam())
                                                {
                                                    @team.Members.First().Member.Nickname
                                                }
                                                else
                                                {
                                                    @team.Name
                                                }
                                            </MudListItem>
                                        }
                                    </MudList>
                                }
                            </MudPaper>
                        }
                    </MudItem>
                }
                @if (_tournament.State == TournamentState.Finished)
                {
                    var result = GetLeaderBoard();
                    <MudItem xs="12" md="6">
                        <MudText Typo="Typo.h6" GutterBottom="true"><MudIcon Icon="@Icons.Material.Filled.MilitaryTech"/>Siegerehrung</MudText>
                        <MudPaper Class="d-flex align-end flex-grow-1 gap-4 pa-6 leaderboard" Elevation="0">
                            <MudPaper Class="pb-8 d-flex flex-1 second-place" Style="background-color: silver;">
                                <MudText Typo="Typo.h5" Style="text-align: center; width: 100%;padding-top: 5px;">@result.second</MudText>
                            </MudPaper>
                            <MudPaper Class="pb-16 d-flex flex-1 first-place" Style="background-color: goldenrod;">
                                <MudText Typo="Typo.h4" Style="text-align: center; width: 100%;padding-top: 5px;">@result.first</MudText>
                            </MudPaper>
                            <MudPaper Class="pb-4 d-flex flex-1 third-place" Style="background-color: sandybrown;">
                                <MudText Typo="Typo.h6" Style="text-align: center; width: 100%;padding-top: 5px;">@result.third</MudText>
                            </MudPaper>
                        </MudPaper>
                    </MudItem>
                }
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.People" Text="@(_tournament.IsMultiplayer() ? "Teams" : "Players")" Disabled="_tournament.State is TournamentState.Planning">
            <TournamentTeamsTab Tournament="@_tournament"></TournamentTeamsTab>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.AccountTree" Text="Turnierbaum" Disabled="_tournament.Rounds.Count < 1">
            @if (_tournament.Rounds.Count != 0)
            {
                @if (_tournament.Mode == TournamentMode.SingleElimination)
                {
                    <SingleEliminationTree Tournament="_tournament" Class="mt-4">
                        <MatchTemplate>
                            <TournamentEliminationMatchView Match="@context" User="_currentUser"></TournamentEliminationMatchView>
                        </MatchTemplate>
                    </SingleEliminationTree>
                }
                @if (_tournament.Mode == TournamentMode.DoubleElimination)
                {
                    <DoubleEliminationTree Tournament="_tournament" Class="mt-4">
                        <MatchTemplate>
                            <TournamentEliminationMatchView Match="@context" User="_currentUser"></TournamentEliminationMatchView>
                        </MatchTemplate>
                    </DoubleEliminationTree>
                }
                @if (_tournament.Mode == TournamentMode.Points)
                {
                    <PointsScoreTable Tournament="_tournament" Class="mt-4">
                    </PointsScoreTable>
                }
            }
        </MudTabPanel>
    </MudTabs>
}

<style>
.leaderboard div {
    color: var(--mud-palette-black) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
}
</style>

@code {

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? ActiveTab
    {
        set
        {
            if (value == null)
            {
                _activeIndex = 0;
            }
            _activeIndex = value switch
            {
                "overview" => 0,
                "teams" => 1,
                "tournament-tree" => 2,
                _ => 0
                };
        }
        get
        {
            return _activeIndex switch
            {
                0 => "overview",
                1 => "teams",
                2 => "tournament-tree",
                _ => ""
                };
        }
    }

    private TournamentResponse? _tournament;
    private int _activeIndex;
    private UserResponse? _currentUser;

    private MudTabs MudTabs
    {
        get => _mudTabs;
        set
        {
            _mudTabs = value;
            Task.Run(() => _mudTabs.ActivatePanel(_activeIndex));
        }
    }

    private MudTabs _mudTabs = null!;
    private bool _nameEditorEnabled;
    private string _nameEditorValue = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _currentUser = await CurrentUserService.GetCurrentUser();
        NotificationsService.TournamentsChanged += NotificationsServiceOnTournamentsChanged;
    }

    private async Task NotificationsServiceOnTournamentsChanged(object arg1, TournamentHubMessage tournamentHubMessage)
    {
        if (tournamentHubMessage.Id == Id)
        {
            _tournament = await TournamentService.GetAsync(Id);
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_tournament != null && _tournament.Id != Id)
        {
            _mudTabs.ActivatePanel(0);
            _nameEditorEnabled = false;
        }

        _tournament = await TournamentService.GetAsync(Id);

        await base.OnParametersSetAsync();
    }

    public void Dispose()
    {
        NotificationsService.TournamentsChanged -= NotificationsServiceOnTournamentsChanged;
    }

    private void ActiveTabChanged(int tabIndex)
    {
        _activeIndex = tabIndex;
        NavigationManager.NavigateTo($"tournaments/{Id}/{ActiveTab}");
    }

    private async Task SetPlayersPerTeam(int number)
    {
        var utm = new UpdateTournamentMessage
        {
            Name = _tournament.Name,
            PlayerPerTeam = number
        };
        await TournamentService.UpdateAsync(_tournament.Id, utm);
    }

    private void EnableTournamentNameEdit()
    {
        _nameEditorEnabled = true;
        _nameEditorValue = _tournament.Name;
    }

    private async Task SaveNewTournamentNameAsync()
    {
        var utm = new UpdateTournamentMessage
        {
            Name = _nameEditorValue
        };
        await TournamentService.UpdateAsync(_tournament.Id, utm);
        _nameEditorEnabled = false;
    }

    private Task NameEditorKeyDown(KeyboardEventArgs arg)
    {
        switch (arg.Code)
        {
            case "Enter" or "NumpadEnter":
                return SaveNewTournamentNameAsync();
            case "Escape":
                _nameEditorEnabled = false;
                _nameEditorValue = string.Empty;
                break;
        }
        return Task.CompletedTask;
    }

    private async Task SetTournamentMode(TournamentMode mode)
    {
        var utm = new UpdateTournamentMessage
        {
            Name = _tournament.Name,
            Mode = mode
        };
        await TournamentService.UpdateAsync(_tournament.Id, utm);
    }

    private async Task ChangeTournamentImageAsync()
    {
        var parameters = new DialogParameters { ["Tournament"] = _tournament };

        var dialog = await DialogService.ShowAsync<TournamentImageCreateDialog>("Update Tournament Image", parameters, new DialogOptions { FullScreen = true, CloseButton = true, CloseOnEscapeKey = true });
        await dialog.Result;
    }
    
    private (string first, string second, string third) GetLeaderBoard()
    {
        var first = string.Empty;
        var second = string.Empty;
        var third = string.Empty;

        var matches = _tournament?.Rounds.SelectMany(r => r.Matches).OrderBy(m => m.Id).ToList();

        if (_tournament is null || matches is null)
        {
            return (first, second, third);
        }

        var lastMatch = matches.Last();
        var secondLastMatch = matches.TakeLast(2).First();

        switch (_tournament.Mode)
        {
            case TournamentMode.SingleElimination:
                first = secondLastMatch.GetNameOnPlace(1);
                second = secondLastMatch.GetNameOnPlace(2);
                third = lastMatch.GetNameOnPlace(1);
                break;
            case TournamentMode.DoubleElimination:
                first = lastMatch.GetNameOnPlace(1);
                second = lastMatch.GetNameOnPlace(2);
                third = secondLastMatch.GetNameOnPlace(2);
                break;
            case TournamentMode.Points:
                first = lastMatch.GetNameOnPlace(1);
                second = lastMatch.GetNameOnPlace(2);
                third = lastMatch.Scores.Count > 2 ? lastMatch.GetNameOnPlace(3) : string.Empty;
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
        

        return (first, second, third);
    }

}
