﻿@page "/users/me"
@using Clanwars.TournamentManager.Frontend.Options
@using Clanwars.TournamentManager.Frontend.Shared.Components.Users
@using Clanwars.TournamentManager.Lib.Messages
@using Clanwars.TournamentManager.Lib.Messages.User
@using Microsoft.Extensions.Options

@inject ICurrentUserService CurrentUserService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IImagesService ImagesService
@inject IOptions<BackendOptions> BackendOptions

<PageTitle>Edit profile</PageTitle>

@if (!_isLoading)
{
    <MudGrid Spacing="4" Class="mt-6">
        <MudItem xs="12">
            <MudText Typo="Typo.h4">Profile</MudText>
            <MudDivider DividerType="DividerType.Middle" Class="mt-5"/>
        </MudItem>
        <MudItem xs="6">
            <UserPropertiesEditor User="_user" OnUserCompletedProfile="user => { _user = user; StateHasChanged(); }"></UserPropertiesEditor>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Elevation="1" Class="pa-3">
                <MudText Typo="Typo.h5">Avatar</MudText><br/>
                <MudAvatar Rounded="true" Size="Size.Large">
                    @if (_user.ImageUrl is not null)
                    {
                        <MudImage Src="@(BackendOptions.Value.BaseAddress + "/" + _user.ImageUrl)"></MudImage>
                    }
                    else
                    {
                        @(_user.FirstName[..1].ToUpper() + _user.LastName[..1].ToUpper())
                    }
                </MudAvatar>
                <br/>
                <br/>
                <InputFile id="inputAvatar" OnChange="async args => await OnInputFileChange(args)" hidden></InputFile>
                <MudButton HtmlTag="label"
                           Size="Size.Small"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.CloudUpload"
                           for="inputAvatar">
                    Upload new picture
                </MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
}

@code {
    UserResponse _user = null!;
    bool _isLoading = true;

    private IBrowserFile? _file;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _user = await CurrentUserService.GetCurrentUser();
        _isLoading = false;
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs args)
    {
        _file = args.File;

        var parameters = new DialogParameters {["File"] = _file};

        var dialog = await DialogService.ShowAsync<UpdateAvatarDialog>("Update Avatar", parameters, new DialogOptions {BackdropClick = false, FullScreen = false, FullWidth = true});
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var iu = (ImageUpload) result.Data;

            await ImagesService.SetUserImageAsync(_user.Id, iu);
            Snackbar.Add("Your avatar has been updated", Severity.Success);

            await OnInitializedAsync();
            StateHasChanged();
        }
    }

}
