@using Clanwars.TournamentManager.Lib.Messages

<MudDialog>
    <DialogContent>
        <Cropper MaxCropedHeight="500" CropperHeight="400" MaxCropedWidth="500" @ref="_cropper" 
                 ImageFile="File"
                 AspectRatio="1"
                 RequireAspectRatio="true"
                 AnimeGifEnable="false">
        </Cropper>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter][EditorRequired] public IBrowserFile? File { get; set; }

    Cropper _cropper = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        
        _cropper.ImageFile = File;
    }

    async Task Submit() 
    {
        var args = await _cropper.GetCropedResult();
        var bs = await args.GetDataAsync();
        
        var base64String = Convert.ToBase64String(bs, 0, bs.Length);

        var iu = new ImageUpload
        {
            DataUrl = "data:image/jpeg;base64," + base64String
        };
        
        MudDialog.Close(DialogResult.Ok(iu));
    }
    
    void Cancel() => MudDialog.Cancel();
}
