@using Clanwars.PaymentSystem.Lib.Messages.PointOfSale
@using Clanwars.PaymentSystem.Lib.Messages.Account
@inject IPaymentSystemService PaymentSystemService

<MudDialog >
    <DialogContent>
        <MudPaper Width="100%">
            <MudSimpleTable Hover="true">
                <tbody>
                @foreach (var pos in _posesWithCards)
                {
                    if (pos.CurrentCard == null || pos.CurrentCard.Id == null)
                    {
                        <tr>
                            <td>
                                <MudIcon Icon="@Icons.Material.Filled.CreditCard" Color="Color.Dark"/>
                            </td>
                            <td>@(pos.PosName)</td>
                            <td>
                                <MudButton Disabled="true" Color="Color.Error">Select</MudButton>
                            </td>
                        </tr>
                    }
                    else if (!string.IsNullOrEmpty(pos.CurrentCard.Id) && pos.CurrentCard.Account == null)
                    {
                        <tr>
                            <td>
                                <MudIcon Icon="@Icons.Material.Filled.CreditCard" Color="Color.Success"/>
                            </td>
                            <td>@(pos.PosName) <br/>Card: @(pos.CurrentCard.Id)</td>
                            <td>
                                <MudButton OnClick="() => OnSelect(pos.CurrentCard)" Color="Color.Success">Select</MudButton>
                            </td>
                        </tr>
                    }
                    else if (pos.CurrentCard != null && pos.CurrentCard.Account != null)
                    {
                        <tr>
                            <td>
                                <MudIcon Icon="@Icons.Material.Filled.CreditCard" Color="Color.Error"/>
                            </td>
                            <td>@(pos.PosName)<br/>Card is already registered to: @(pos.CurrentCard.Account.FirstName + " " + pos.CurrentCard.Account.LastName)</td>
                            <td>
                                <MudButton Disabled="true" Color="Color.Error">Select</MudButton>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </MudSimpleTable>
        </MudPaper>
        <MudButton OnClick="LoadPoses" Variant="Variant.Filled" Color="Color.Success" Class="mt-5">Reload List</MudButton>
        <MudButton OnClick="Cancel" Variant="Variant.Outlined" Color="Color.Warning" Class="mt-5 ml-3">Cancel</MudButton>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    private IList<PointOfSaleInfoWithCurrentCard> _posesWithCards = new List<PointOfSaleInfoWithCurrentCard>();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadPoses();
    }

    private async Task LoadPoses()
    {
        _posesWithCards = await PaymentSystemService.GetCurrentCards();
    }

    private void OnSelect(CardInfo card)
    {
        MudDialog.Close(DialogResult.Ok(card));
    }

}
