@using Clanwars.TournamentManager.Lib.Messages
@inject ISnackbar Snackbar
@inject IImagesService ImagesService

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Add Beamer image
        </MudText>
    </TitleContent>
    <DialogContent>
        <InputFile OnChange="OnInputFileChange" accept=".jpg,.jpeg"></InputFile>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="Submit" Disabled="_byteResult == null">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    private byte[]? _byteResult;
    private IBrowserFile? _file;

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    async Task OnInputFileChange(InputFileChangeEventArgs args)
    {
        _file = args.File;
        await using var stream = _file.OpenReadStream(maxAllowedSize: 5 * 1024 * 1000L);
        _byteResult = new byte[stream.Length];
        _ = await stream.ReadAsync(_byteResult, 0, (int)stream.Length);
    }

    private async Task Submit()
    {
        if (_byteResult == null) return;

        var base64String = Convert.ToBase64String(_byteResult, 0, _byteResult.Length);

        var iu = new ImageUpload
        {
            DataUrl = "data:image/jpeg;base64," + base64String
        };
        await ImagesService.AddBeamerImageAsync(iu);
        Snackbar.Add($"Image was added", Severity.Success);
        MudDialog.Close(DialogResult.Ok(true));
    }

}
