@using System.ComponentModel.DataAnnotations
@using Clanwars.TournamentManager.Lib.Messages.Events
@inject ISnackbar Snackbar
@inject IEventsService EventsService

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Create event
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudDateRangePicker Label="Start and end dates" @bind-DateRange="_model.DateRange"/>
            <MudTimePicker Label="Start time" @bind-Time="_model.TimeStart" For="@(() => _model.TimeStart)" Editable="true"/>
            <MudTimePicker Label="End time" @bind-Time="_model.TimeEnd" For="@(() => _model.TimeEnd)" Editable="true"/>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Create Event</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    readonly EventInput _model = new();

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var cem = new CreateEventMessage
        {
            Name = _model.Name,
            StartDate = _model.DateRange!.Start!.Value.Add(_model.TimeStart!.Value),
            EndDate = _model.DateRange!.End!.Value.Add(_model.TimeEnd!.Value)
        };
        var newEvent = await EventsService.CreateAsync(cem);
        Snackbar.Add($"Event \"{newEvent.Name}\" Created", Severity.Success);
        MudDialog.Close(DialogResult.Ok(newEvent));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not create event as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required]
        [StringLength(255, MinimumLength = 8)]
        public string Name { get; set; } = null!;

        [Required]
        public DateRange? DateRange { get; set; }

        [Required]
        public TimeSpan? TimeStart { get; set; }

        [Required]
        public TimeSpan? TimeEnd { get; set; }
    }

}
