@inject ISnackbar Snackbar
@using System.ComponentModel.DataAnnotations
@using Clanwars.TournamentManager.Lib.Messages.Events
@inherits OwningComponentBase<IEventsService>

<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1"/>
            Edit event
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)"/>
            <MudDateRangePicker Label="Start and end dates" @bind-DateRange="_model.DateRange"/>
            <MudTimePicker Label="Start time" @bind-Time="_model.TimeStart" For="@(() => _model.TimeStart)" Editable="true"/>
            <MudTimePicker Label="End time" @bind-Time="_model.TimeEnd" For="@(() => _model.TimeEnd)" Editable="true"/>
            <MudPaper Class="mt-6 mb-2 d-flex justify-end" Elevation="0">
                <MudButton OnClick="Cancel" Class="ml-2">Cancel</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Class="ml-2">Update Event</MudButton>
            </MudPaper>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventResponse Event { get; set; } = null!;

    readonly EventInput _model = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _model.Name = Event.Name;
        _model.DateRange = new DateRange(Event.StartDate.Date, Event.EndDate.Date);
        _model.TimeStart = Event.StartDate.TimeOfDay;
        _model.TimeEnd = Event.EndDate.TimeOfDay;
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var uem = new UpdateEventMessage
        {
            Name = _model.Name,
            StartDate = _model.DateRange!.Start!.Value.Add(_model.TimeStart!.Value),
            EndDate = _model.DateRange!.End!.Value.Add(_model.TimeEnd!.Value)
        };
        await Service.UpdateAsync(Event.Id, uem);
        Snackbar.Add($"Event \"{Event.Name}\" updated", Severity.Success);
        MudDialog.Close(DialogResult.Ok(Event));
    }

    private void OnInvalidSubmit()
    {
        Snackbar.Add("Could not update event as form is not filled out correctly.", Severity.Error);
    }

    private class EventInput
    {
        [Required]
        [StringLength(255, MinimumLength = 8)]
        public string Name { get; set; } = null!;

        [Required]
        public DateRange? DateRange { get; set; }

        [Required]
        public TimeSpan? TimeStart { get; set; }

        [Required]
        public TimeSpan? TimeEnd { get; set; }
    }

}
